/* PPM Portfolio specific layout */

/* site header */
.site-header {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 44px;
	border-bottom: 1px solid $color-border-gray;
	background: rgba(255,255,255,0.8);
	transition: all 300ms;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
	&.active {
		display: block;
	}
	/* if hardware 3d functions are available */
	.csstransforms3d & {
		display: block;
		top: -45px;
	}
	.csstransforms3d &.active {
		-webkit-transform: translate3d(0,41px,0);
		transform: translate3d(0,41px,0);
	}
	/* container for positioning */
	.container {
		width: 100%;
	}
	.logo.small {
		position: absolute;
		top: 13px;
		left: 10px;
	}
}

/* site nav */
.site-nav {
	position: absolute;
	right: 10px;
	top: 14px;
	li {
		float: left;
		padding: 0 4px 0 4px;
	}
}

/* logo */
.logo {
	display: block;
	width: 383px;
	height: 198px;
	background: transparent url(../images/logo-ppm-large.png) no-repeat 0 0;
	&.small {
		width: 246px;
		height: 23px;
		background: transparent url(../images/logo-ppm-small.png) no-repeat 0 0;
	}
}

/* profile portrait */

.my-portrait {
	display: block;
	width: 186px;
	height: 186px;
	background: transparent url(../images/profile-picture-me.jpg) no-repeat 0 0;
	border-radius: 98px;
	border: 6px solid $color-border-gray;
}


/* portfolio display panels */

.panel {
	width: 100%;
	height: 680px;
	position: relative;
	@media #{$large-display} {
		height: 800px;
	}
	/* test styles only */
	&.red {
		background: red;
	}
	&.black {
		background: black;
	}
	&.blue {
		background: blue;
	}
}

/* panel backgrounds */

.panel {
	background-size: cover;
	background-position: center top;
	&.shopsy {
		background-image: url(../images/panel-shopsy.jpg);
	}
	&.legalzoom {
		background-image: url(../images/panel-legalzoom.jpg);
	}
	&.fixya {
		background-image: url(../images/panel-fixya.jpg);
	}
	&.mokafive {
		background-image: url(../images/panel-mokafive.jpg);
	}
	&.reflect {
		background-image: url(../images/panel-reflect.jpg);
	}
	&.rushcard {
		background-image: url(../images/panel-rushcard.jpg);
	}
	&.zenbe {
		background-image: url(../images/panel-zenbe.jpg);
	}
	&.presto {
		background-image: url(../images/panel-presto.jpg);
	}
}

/* panel generic layout */
.panel {
	.content {
		width: 960px;
		margin: 0 auto;
		padding: 10px;
		.desc {
			padding-top: 40px;
			.col {
				float: left;
				width: 50%;
				padding: 0 10px 0 0;
				&.detail {
					font-size: 20px;
					padding-top: 10px;
				}
			}
			h1 {
				margin-bottom: 0.25em;
			}
			.skills-icon {
				margin-left: 2px;
			}
		}
	}
	.gallery {
		padding: 10px;
		background: rgba(255,255,255,0.5);
		width: 860px;
		margin: 20px auto 20px auto;
		li {
			float: left;
			margin: 10px;
			a {
				position: relative;
				display: block;
				overflow: hidden;
				width: 100px;
				height: 100px;
				.overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 4;
					transition: 300ms;
					-moz-transition: 300ms;
					-webkit-transition: 300ms;
				}
				.no-touch &:hover {
					.overlay {
						box-shadow: inset 0 0 8px rgba(0,0,0,0.8);	
					}					
				}
				img {
					width: 100px;
					height: 100px;
				}
			}
		}
	}
}

/* panel specific layout - home */
.panel {
	&.home {
		height: 700px;
		@media #{$large-display} {
			height: 800px;
		}
		.logo {
			position: absolute;
			left: 56px;
			top: 36px;
			z-index: 5;
		}
		.my-portrait {
			position: absolute;
			left: 120px;
			top: 280px;
			z-index: 10;
			@media #{$large-display} {
				top: 340px;
			}
		}
		.line {
			display: block;
			width: 6px;
			height: 370px;
			background: $color-border-gray;
			position: absolute;
			left: 212px;
			top: 254px;
			z-index: 1;
			@media #{$large-display} {
				height: 490px;
			}
		}
		.fa-angle-down {
			position: absolute;
			left: 182px;
			top: 600px;
			z-index: 2;
			font-size: 100px;
			color: $color-border-gray;
			@media #{$large-display} {
				top: 700px;
			}
		}
		.content {
			width: 580px;
			position: relative;
			top: 200px;
			left: 380px;
			margin: 0;
			padding: 0;
			@media #{$large-display} {
				top: 240px;
				left: 420px;
				width: 800px;
			}
			.main {
				width: 360px;
				float: left;
				margin: 0 20px 0 0;
				@media #{$large-display} {
					width: 530px;
					margin-right: 40px;
					margin-top: 30px;
				}
			}
			.sidebar {
				float: left;
				width: 200px;
				.skills {
					list-style: none;
					margin-top: 8px;
					li {
						margin: 0 0 4px 0;
						.skills-icon {
							float: left;
						}
						span {
							float: left;
							margin: 12px 0 0 8px;
						}
					}
				}
			}
		}
	}
}

.panel {
	&.legalzoom, &.shopsy {
		h1, h2, p {
			color: #fff;
			text-shadow: 0 1px rgba(0,0,0,0.8);
		}
	}
	&.reflect {
		h1, h2, p {
			color: #4a8b6f;
		}
	}
	&.mokafive {
		h1, h2, p {
			color: #9f4b16;
		}
	}
}

/* skills icon */

.skills-icon {
	display: inline-block;
	overflow: none;
	width: 60px;
	height: 60px;
	background: transparent url(../images/sprite-skills-icon.png) no-repeat 0 0;
	&.html {
		background-position: 0 0;
	}
	&.js {
		background-position: 0 -100px;
	}
	&.css {
		background-position: 0 -200px;
	}
	&.ui {
		background-position: 0 -300px;
	}
	&.print {
		background-position: 0 -400px;
	}
	&.visual {
		background-position: 0 -500px;
	}
	&.jquery {
		background-position: 0 -600px;
	}
	&.mobile {
		background-position: 0 -700px;
	}
	&.mobile-web {
		background-position: 0 -800px;
	}
	&.rd {
		background-position: 0 -900px;
	}
	&.small {
		width: 45px;
		height: 45px;
		background: transparent url(../images/sprite-skills-icon-small.png) no-repeat 0 0;
		&.html {
			background-position: 0 0;
		}
		&.js {
			background-position: 0 -75px;
		}
		&.css {
			background-position: 0 -150px;
		}
		&.ui {
			background-position: 0 -225px;
		}
		&.print {
			background-position: 0 -300px;
		}
		&.visual {
			background-position: 0 -375px;
		}
		&.jquery {
			background-position: 0 -450px;
		}
		&.mobile {
			background-position: 0 -525px;
		}
		&.mobile-web {
			background-position: 0 -600px;
		}
		&.rd {
			background-position: 0 -675px;
		}
	}
}


/* social links */
.social-links {
	ul {
		margin-bottom: 10px;
	}
	li {
		float: left;
		margin: 0 8px 0 0;
		.fa {
			font-size: 38px;
		}
	}
}

.fa-linkedin-square {
	color: #1b86bc;
}

.fa-twitter-square {
	color: #55acee;
}