/* skills icon */

.skills-icon {
	position: relative;
	display: inline-block;
	overflow: none;
	width: 60px;
	height: 60px;
	background: transparent url(../images/sprite-skills-icon.png) no-repeat 0 0;
	&.html {
		background-position: 0 0;
	}
	&.js {
		background-position: 0 -100px;
	}
	&.css {
		background-position: 0 -200px;
	}
	&.ui {
		background-position: 0 -300px;
	}
	&.print {
		background-position: 0 -400px;
	}
	&.visual {
		background-position: 0 -500px;
	}
	&.jquery {
		background-position: 0 -600px;
	}
	&.mobile {
		background-position: 0 -700px;
	}
	&.mobile-web {
		background-position: 0 -800px;
	}
	&.rd {
		background-position: 0 -900px;
	}
	&.branding {
		background-position: 0 -1000px;
	}
	&.small {
		width: 45px;
		height: 45px;
		background: transparent url(../images/sprite-skills-icon-small.png) no-repeat 0 0;
		&.html {
			background-position: 0 0;
		}
		&.js {
			background-position: 0 -75px;
		}
		&.css {
			background-position: 0 -150px;
		}
		&.ui {
			background-position: 0 -225px;
		}
		&.print {
			background-position: 0 -300px;
		}
		&.visual {
			background-position: 0 -375px;
		}
		&.jquery {
			background-position: 0 -450px;
		}
		&.mobile {
			background-position: 0 -525px;
		}
		&.mobile-web {
			background-position: 0 -600px;
		}
		&.rd {
			background-position: 0 -675px;
		}
		&.branding {
			background-position: 0 -750px;
		}
	}
	&.smallest {
		width: 30px;
		height: 30px;
		background: transparent url(../images/sprite-skills-icon-smallest.png) no-repeat 0 0;
		&.html {
			background-position: 0 0;
		}
		&.js {
			background-position: 0 -50px;
		}
		&.css {
			background-position: 0 -100px;
		}
		&.ui {
			background-position: 0 -150px;
		}
		&.print {
			background-position: 0 -200px;
		}
		&.visual {
			background-position: 0 -250px;
		}
		&.jquery {
			background-position: 0 -300px;
		}
		&.mobile {
			background-position: 0 -350px;
		}
		&.mobile-web {
			background-position: 0 -400px;
		}
		&.rd {
			background-position: 0 -450px;
		}
		&.branding {
			background-position: 0 -500px;
		}
	}
	i {
		display: none;
		position: absolute;
		top: 40px;
		left: 10%;
		font-style: normal;
		color: $brand-white;
		background: rgba(0,0,0,0.6);
		padding: 4px 8px 6px 8px;
		border-radius: 4px;
		font-size: 11px;
		z-index: 20;
	}
	&:hover i {
		display: block;
	}
}