/* PPM Portfolio specific layout */

/* site header */
.site-header {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid $color-border-gray;
	background: rgba(255,255,255,0.8);
	transition: all 300ms;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
	&.active {
		display: block;
	}
	/* if hardware 3d functions are available */
	.csstransforms3d & {
		display: block;
		top: -41px;
	}
	.csstransforms3d &.active {
		-webkit-transform: translate3d(0,41px,0);
		transform: translate3d(0,41px,0);
	}
	/* container for positioning */
	.container {
		width: 100%;
	}
	.logo.small {
		position: absolute;
		top: 10px;
		left: 10px;
	}
}

/* site nav */
.site-nav {
	position: absolute;
	right: 10px;
	top: 12px;
	li {
		float: left;
		padding: 0 4px 0 4px;
	}
}

/* logo */
.logo {
	display: block;
	width: 383px;
	height: 198px;
	background: transparent url(../images/logo-ppm-large.png) no-repeat 0 0;
	&.small {
		width: 246px;
		height: 23px;
		background: transparent url(../images/logo-ppm-small.png) no-repeat 0 0;
	}
}

/* portfolio display panels */

.panel {
	width: 100%;
	height: 680px;
	position: relative;
	@media #{$large-display} {
		height: 800px;
	}
	/* test styles only */
	&.red {
		background: red;
	}
	&.black {
		background: black;
	}
	&.blue {
		background: blue;
	}
}

/* panel backgrounds */

.panel {
	&.shopsy {
		background-image: url(../images/panel-shopsy.jpg);
		background-size: cover;
		background-position: center top;
	}
}

/* panel specific layout */
.panel {
	&.home {
		.logo {
			position: absolute;
			left: 56px;
			top: 36px;
		}
	}
}