doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title Open orders | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
		
		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"

	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport

			.bgAccount
				.siteHeader.gradient
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span class="badge hamburgerBadge" 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"
				.pageNav
					a href="account_overview.html" « Back to my account
				.pageHeader.semiWhiteBG
					h2.account Open orders

				.pageBody
					ul.orders
						li
							.orderIcon.orderIconTicked
							h3 LLC
							h4 Blue Sky heaven Inc.
							.order-detail
								p.order-number
									| Order #: 
									span 30902761
								p.delivery-date.delayed
									| Estimated delivery: 
									span Delayed

							.status
								| Status: 
								span Name check
							p
								| For new business entites, we check with your state to ensure your business name is available. If the name is not available, we'll contact you for alternate names and will continue checking with the state until we find the name you're looking for. If your entity is already filed, we verify your business name with the state and contact you if there are any questions.

							ul.action-list
								li
									h4 EIN Obtainment
									p Your EIN is currently not available. It will be displayed here as soon as your documents are filled with the state.
								li
									h4 Seller's Permit
									.status.action-required
										| Action required: 
										span Complete questionnaire
									p You need to complete your Seller's Permit questionnaire.
									.action-button
										a.button.flex.mobile
											span.button-center Get started
									.clear
								li
									h4 State Tax ID
									.status.action-required
										| Action required: 
										span Complete questionnaire
									p You need to complete your State Tax ID questionnaire.
									.action-button
										a.button.flex.mobile
											span.button-center Get started
									.clear
								li
									h4 Compliance Package
									p Your compliance package is now active.
									.action-button
										a.button.flex.mobile
											span.button-center Get started
									.clear
								li
									h4 Registered Agent Service
									p Your Registered Agent Service will become active as soon as your documents are filed with the state.
						li
							.orderIcon.orderIconTicked
							h3 Living Will
							h4 Alice Wolfedlkjsadfadfsafd
							.order-detail
								p.order-number
									| Order #: 
									span 31990231
								p.delivery-date
									| Estimated delivery: 
									span February 12, 2014
							.status
								| Status: 
								span Order received
							p We are currently reviewing your Living Will for spelling and consistency.
						li
							.orderIcon.orderIconAction
							h3 Power of Attorney
							h4 Joe Somebody
							.order-detail
								p.order-number
									| Order #: 
									span 31990779
							.status.action-required
								| Action required: 
								span Incomplete questionnaire
							.action-button
								a.button.flex.mobile
									span.button-center Complete questionnaire
							.clear
						li
							.orderIcon.orderIconAction
							h3 Initial Reports
							h4 Test LLC
							.order-detail
								p.order-number
									| Order #: 
									span 31990779
							.status.action-required
								| Action required: 
								span Reports due on March 15, 2014
							p
								| The state of California requires that you file mandatory reports by the date shown above. As part of your compliance package, we remind you of this due date, collect payment and file the reports on your behalf with the Secretary of State.
							p
								| Please submit payment for state filing fees.
							.action-button
								a.button.flex.mobile
									span.button-center Submit payment
							.clear

							br

							.status.action-required
								| Action required: 
								span Information needed
							p
								| The state of California required your filing on February 4, 2014. This is now past due but still required in order to keep your business in good standing. Please call us as soon as possible at (800) 773-0888.
							.action-button
								a.button.flex.mobile
									span.button-center Call now
							.clear
						li
							.orderIcon.orderIconTicked
							h3 Initial Reports
							h4 Test LLC
							.order-detail
								p.order-number
									| Order #: 
									span 31990231
							.status
								| Status: 
								span Name check
							p We are currently verifying your business name(s) in California.

			div
				a.viistFullWebsite href="http://www.legalzoom.com"
					p 
						| Visit our 
						span.underline full website
						|  to see all order details.
					.visitfullWebsiteIcon
			  
			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.socialIcons
					ul
						li.socialIconFacebook
							a href="http://www.facebook.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconTwitter
							a href="http://twitter.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconLinkedIn
							a href="http://www.linkedin.com/company/legalzoom" rel="external" data-transition="slide"
						li.socialIconGPlus
							a href="https://plus.google.com/+legalzoom" rel="external" data-transition="slide"
				.clear
				.legalAdvice The information provided on this site is not legal advice.