doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title Completed orders | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
		
		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"

	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport	

			.bgAccount
				.siteHeader.gradient
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span class="badge hamburgerBadge" 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"
				.pageNav
					a href="account_overview.html" « Back to my account
				.pageHeader.semiWhiteBG
					h2.account Completed orders

				.pageBody
					ul.orders.completed
						li
							h4
								| LLC - 
								span Blue Sky Heaven Inc.
							.order-detail
								p.order-number
									| Order #: 
									span 30902761
								p.purchased-date
									| Purchased: 
									span 12/4/13
								.clear
								p.status-current
									| Status: 
									span Active
						li
							h4
								| Registered Agent Service - 
								span Blue Sky Heaven Inc.
							.order-detail
								p.order-number
									| Order #: 
									span 30902761
								p.purchased-date
									| Purchased: 
									span 12/4/13
								.clear
								p.status-current
									| Status: 
									span Active
						li
							h4
								| Full Service Compliance Package - 
								span Blue Sky Heaven Inc.
							.order-detail
								p.order-number
									| Order #: 
									span 30902761
								p.purchased-date
									| Purchased: 
									span 12/4/13
								.clear
								p.status-current
									| Status: 
									span Active
						li
							h4
								| Minutes Manager - 
								span Blue Sky Heaven Inc.
							.order-detail
								p.order-number
									| Order #: 
									span 30902761
								p.purchased-date
									| Purchased: 
									span 12/4/13
								.clear
								p.status-current.inactive
									| Status: 
									span Inactive
						li
							h4
								| Business Advantage Pro Annual Membership
							.order-detail
								p.order-number
									| Order #: 
									span 30902761
								p.purchased-date
									| Purchased: 
									span 12/4/13
								.clear
								p.status-current.expired
									| Status: 
									span Expired
						li
							h4
								| LLC - 
								span Test LLC
							.order-detail
								p.order-number
									| Order #: 
									span 30902761
								p.purchased-date
									| Purchased: 
									span 12/4/13
								.clear
								p.status-current.cancelled
									| Status: 
									span Cancelled



			div
				a.viistFullWebsite href="http://www.legalzoom.com"
					p 
						| Visit our 
						span.underline full website
						|  to see all order details.
					.visitfullWebsiteIcon
			  
			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.socialIcons
					ul
						li.socialIconFacebook
							a href="http://www.facebook.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconTwitter
							a href="http://twitter.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconLinkedIn
							a href="http://www.linkedin.com/company/legalzoom" rel="external" data-transition="slide"
						li.socialIconGPlus
							a href="https://plus.google.com/+legalzoom" rel="external" data-transition="slide"
				.clear
				.legalAdvice The information provided on this site is not legal advice.