doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title My Account | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
		
		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"	

	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport

			.bgAccount
				.siteHeader.gradient
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span class="badge hamburgerBadge" 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"
				.pageNav
					a href="account_overview.html" « Back to my account
				.pageHeader
					h2 My account

				.pageBody
					.signout-link
						a Sign out
					.accountName Hubert Wolfeschlegelsteinhause...
					.acountTopNav
						.acountTopNavInner
							span
								a href="messages.html"
									span.accountBadge.hamburgerBadge.messagesBadge 14
									.messagesButton Messages
							span.accountInfo
								a href="account_information.html" Account information
				
					.accountNav
						ul
							li.openOrderIcon
								a href="account_orders_open.html" Open orders
							li.completedOrderIcon
								a href="account_orders_completed.html" Completed orders

					.getAppHolder
						.getApp
							h3 Get the LegalZoom app
							p Manage all of your LegalZoom legal documents in one place.
							div
								a.button.flex.mobile href="http://www.apple.com"
									span.button-center Get it now 
								|  
								.appStoreButton

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.socialIcons
					ul
						li.socialIconFacebook
							a href="http://www.facebook.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconTwitter
							a href="http://twitter.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconLinkedIn
							a href="http://www.linkedin.com/company/legalzoom" rel="external" data-transition="slide"
						li.socialIconGPlus
							a href="https://plus.google.com/+legalzoom" rel="external" data-transition="slide"
				.clear
				.legalAdvice The information provided on this site is not legal advice.