doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title Speak to an Attorney | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
	
		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"	

		javascript:
			$(function(){
				var is_uiwebview = /(iPhone|iPod|iPad).*AppleWebKit(?!.*Safari)/i.test(navigator.userAgent);
				// var is_safari_or_uiwebview = /(iPhone|iPod|iPad).*AppleWebKit/i.test(navigator.userAgent);
				if (is_uiwebview == true) {
					$('.siteHeader').hide();
				}
			});
		
	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport

			.bgSignin
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				/! progress bar
				.progress-bar
					.completed
						.text
							span 25
							| % complete
						.arrow

				.pageBody
					.page-questionnaire
						.legalPlanIndicator YOU ARE A CURRENT LEGAL PLAN MEMBER
						br
						.pageHeader
							h2.leftAlign Annual Checkup Questions

						p.light
							| Your answer to these questions will help the Advantage Attorney provide the best Annual Checkup possible.
						form
							hr
							.form-group
								label What is your marital status?
								.select-field
									.select-arrow-container
										.select-arrow
									select
										optgroup
											option
												| -- Please select --
											option Married
											option Never Married
											option Divorced
											option Married with Children
											option Al Bundy
											option Peggy
											option Kelly
											option Bud
							.form-group
								label Are you planning on getting marriedn in the near future?
								.select-field
									.select-arrow-container
										.select-arrow
									select
										optgroup
											option
												| -- Please select --
											option Married
											option Never Married
											option Divorced
											option Married with Children
											option Al Bundy
											option Peggy
											option Kelly
											option Bud
							.form-group
								label What is your age?
								input type='text'
							.form-group
								label How many dependent children do you have?
								input type='text'
							.form-group
								label How many adult children do you have?
								input type='text'
							.form-group
								label Do you own your home?
								.select-field
									.select-arrow-container
										.select-arrow
									select
										optgroup
											option
												| -- Please select --
											option Yes
											option No

							hr
							.form-group.iconic-button
								p.question-text
									| Which estate planning document do you have?

								input.iconic#estate_will type='checkbox' name='estate'
								label for='estate_will' Will
								input.iconic#estate_trust type='checkbox' name='estate'
								label for='estate_trust' Trust
								input.iconic#estate_power_of_attorney type='checkbox' name='estate'
								label for='estate_power_of_attorney' Power of Attorney
								input.iconic#estate_living_will type='checkbox' name='estate'
								label for='estate_living_will' Living Will

							hr
							.form-group.iconic-button
								p.question-text
									| Which of the following changes occured since you last updated your estate planning documents?

								input.iconic#changes_01 type='checkbox' name='changes'
								label for='changes_01' Married
								input.iconic#changes_02 type='checkbox' name='changes'
								label for='changes_02' Divorced
								input.iconic#changes_03 type='checkbox' name='changes'
								label for='changes_03' Had a child
								input.iconic#changes_04 type='checkbox' name='changes'
								label for='changes_04' Bought a house
								input.iconic#changes_05 type='checkbox' name='changes'
								label for='changes_05' Moved
								input.iconic#changes_06 type='checkbox' name='changes'
								label for='changes_06' Changed primary physician
								input.iconic#changes_07 type='checkbox' name='changes'
								label for='changes_07' Spouse passed away
								input.iconic#changes_08 type='checkbox' name='changes'
								label for='changes_08' Parent passed away
								input.iconic#changes_09 type='checkbox' name='changes'
								label for='changes_09' Inheritance
								input.iconic#changes_10 type='checkbox' name='changes'
								label for='changes_10' Change in employment
								input.iconic#changes_11 type='checkbox' name='changes'
								label for='changes_11' Large increase in income
							
							hr
							.form-group
								label Are you self employed?
								.select-field
									.select-arrow-container
										.select-arrow
									select
										optgroup
											option
												| -- Please select --
											option Yes
											option No
											option No

						/! questionnaire navigation links
						nav.nav-questionnaire
							a.link-previous
								i.icon.icon-caret-left
								|  Previous
						
							a.button.flex.has-right.button-next href="#"
								.button-right
									.inner
										i.icon.button-icon.arrow-large
								.button-center Next
								
						.clear

						p.disclaimer 
							| By clicking next, you agree to the 
							a Supplemental Terms of Service for Legal Plans
							| .

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.clear
				.legalAdvice The information provided on this site is not legal advice.
