doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title Contact us | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
	
		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"	
		
	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport

			div
				.siteHeader.gradient
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.pageBody
					.pagePadded.pageFixed
						.pageHeader
							h2.leftAlign Contact us
						span.pageInfo
							| Our specialists will get in touch with you within one business day.
						br
						br
						
						.formError
							| To continue, please fix the following:
							br
							ul
								li • Enter your full name
						br
						form
							label.formHeader.error for="full_name" Your full name
							br
							input.error.fullMobile type="text" name="full_name" id="full_name"
							br
							br
							label.formHeader for="email" Email address
							br
							input.fullMobile#email type="email" name="email"
							br
							br
							label.formHeader for="reason" Reason for contacting us
							br
							.form-fields.select
								.select-field.fullMobile
									.select-arrow-container
										.select-arrow
									select
										optgroup
											option Please select
											option Reason 1
											option Reason 2
							br
							br
							labe.formHeader for="order_num" Order # (if this is regarding an order)
							br
							input#order_num.fullMobile type="text" name="order_num"
							br
							br
							label.formHeader for="message" Message
							br
							textarea#message.fullMobile name="message"
							br
							br
							br
							.signinButton
								a.button.has-right href="contact_thanks.html"
									.button-right
										.inner
											i.icon.button-icon.arrow-large
									.button-center Contact
									
							.clear
									
							br
							br

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.socialIcons
					ul
						li.socialIconFacebook
							a href="http://www.facebook.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconTwitter
							a href="http://twitter.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconLinkedIn
							a href="http://www.linkedin.com/company/legalzoom" rel="external" data-transition="slide"
						li.socialIconGPlus
							a href="https://plus.google.com/+legalzoom" rel="external" data-transition="slide"
				.clear
				.legalAdvice The information provided on this site is not legal advice.