doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title Schedule Consultation | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
		
		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"
		
	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport
			
			.woodNav
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.pageBody
					.pageFixed.pagePadded
						.legalPlanIndicator YOU ARE A CURRENT LEGAL PLAN MEMBER
						.pageHeader
							h2.leftAlign Have a legal question
							span.pageInfo Schedule your consultation with a LegalZoom plan attorney and get a call back within one business day for 15 minutes.
						br
						br
						form
							label.formHeader for="full_name" Your full name
							br
							input.fullMobile#full_name type="text" name="full_name"
							br
							br
							label.formHeader for="phone" Phone number to call
							br
							input.fullMobile#phone type="text" name="phone"
							br
							br
							label.formHeader for="email" Email
							br
							input.fullMobile#email type="email" name="email"
							br
							br
							label.formHeader for="state" State where question applies
							br
							.form-fields.select
								.select-field.fullMobile
									.select-arrow-container
										.select-arrow
									select#param_state name="state"
										optgroup
											option Please select
											option California
							br
							br
							label.formHeader for="legal_matters" Legal matters
							br
							.form-fields.select
								.select-field.fullMobile
									.select-arrow-container
										.select-arrow
									select#legal_matters name="legal_matters"
										optgroup
											option Insurance and Liability
							br
							br
							label.formHeader for="subject" Subject matter
							br
							.form-fields.select
								.select-field.fullMobile
									.select-arrow-container
										.select-arrow
									select#subject name="subject"
										optgroup
											option Automotive
							br
							br
							label.formHeader for="description" Brief description of your legal matters
							br
							textarea.fullMobile#description name="description"
							br
							br
							br
							.rightAlign
								a.button.flex.has-right href="find_attorney_schedule_consultation_confirmation.html"
									span.button-right
										span.inner
											i.icon.button-icon.arrow-large
									span.button-center Send request
							br
							br

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.socialIcons
					ul
						li.socialIconFacebook
							a href="http://www.facebook.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconTwitter
							a href="http://twitter.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconLinkedIn
							a href="http://www.linkedin.com/company/legalzoom" rel="external" data-transition="slide"
						li.socialIconGPlus
							a href="https://plus.google.com/+legalzoom" rel="external" data-transition="slide"
				.clear
				.legalAdvice The information provided on this site is not legal advice.