doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title Schedule your phone call | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
		
		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/jquery-sidemenu.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"
		
	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport
			
			.bgGetStarted
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.pageBody
					.pagePadded.pageFixed
						.pageHeader
							h2 class="leftAlign" Thank you! We will call you shortly...
						p.light During regular business hours, we will contact you within 15 minutes. Otherwise, we will contact you the next business day.
						p.light If, for some reason, you haven’t heard from us, please call us directly.
						span.phoneNumber
							| (888) 313-5686
						br
						br
						p.light Monday to Friday <br> 5:00am – 8:00pm PT
						p.light Saturday and Sunday <br> 7:00am – 4:00pm PT
						br
					
			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.socialIcons
					ul
						li.socialIconFacebook
							a href="http://www.facebook.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconTwitter
							a href="http://twitter.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconLinkedIn
							a href="http://www.linkedin.com/company/legalzoom" rel="external" data-transition="slide"
						li.socialIconGPlus
							a href="https://plus.google.com/+legalzoom" rel="external" data-transition="slide"
				.clear
				.legalAdvice The information provided on this site is not legal advice.