doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title Schedule your phone call | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
	
		script type="text/javascript" src="js/jquery-1.10.1.min.js"	
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"
	
		
	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport
			
			.bgGetStarted
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.pageBody
					.pagePadded.pageFixed
						.pageHeader
							h2 class="leftAlign" Schedule your phone call
						p class="light" Fill out the form below and we will be happy to contact you.
			
						.formError
							| To continue, please fix the following:
							br
							ul
								li • Enter your full name
						br
						form
							label.formHeader.error for="full_name" Your full name
							br
							input.error.fullMobile#full_name type="text" name="full_name" class="error fullMobile"
							br
							br
							label.formHeader for="email" Email address
							br
							input.fullMobile#email type="email" name="email"
							br
							br
							label.formHeader for="phone_num" Phone number
							br
							input.fullMobile#phone_num type="text" name="phone_num"
							br
							br
							input#permission type="checkbox" name="permission" checked="checked"
							label for="permission" I give LegalZoom permission to contact me about my inquiry.
							br
							br
							br
							.rightAlign
								a.button.has-right.flex href="get_started_off_hours_schedule_call_confirmation.html"
									span.button-right
										span.inner
											i.icon.button-icon.arrow-large
									span.button-center Send request
							br
					
			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.socialIcons
					ul
						li.socialIconFacebook
							a href="http://www.facebook.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconTwitter
							a href="http://twitter.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconLinkedIn
							a href="http://www.linkedin.com/company/legalzoom" rel="external" data-transition="slide"
						li.socialIconGPlus
							a href="https://plus.google.com/+legalzoom" rel="external" data-transition="slide"
				.clear
				.legalAdvice The information provided on this site is not legal advice.