doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title Independent Contractor Unilateral Nondisclosure Agreement | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
		
		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"
		
	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport
			
			.stripesBG
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.pageNav
					a href="legal_forms.html" « Back to legal forms
				
				.pageDivider
				br
				
				.pageHeader
					h2 Independent Contractor Unilateral Nondisclosure Agreement
				
				.pageBody.pagePadded
					p.pageInfo Most businesses have confidential and private information, from product plans and customer lists to software and blueprints. This type of agreement informs all of your current and future contractors of their ongoing duties of confidentiality to your company.
					p.pageInfo Comes with easy-to-follow instructions.
					h3 Instant download by email
					p.pageInfo Have this form and instruction guide emailed directly to your inbox right now.
					.productButton
						a.button.has-right href="legal_form_email_sent.html" data-transition="slide"
							span.button-right
								span.inner
									i.icon.button-icon.arrow-large
							span.button-center Email me now
					br

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.socialIcons
					ul
						li.socialIconFacebook
							a href="http://www.facebook.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconTwitter
							a href="http://twitter.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconLinkedIn
							a href="http://www.linkedin.com/company/legalzoom" rel="external" data-transition="slide"
						li.socialIconGPlus
							a href="https://plus.google.com/+legalzoom" rel="external" data-transition="slide"
				.clear
				.legalAdvice The information provided on this site is not legal advice.