doctype html
html
	head
		meta charset='utf-8'
		meta name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1'

		title Creating your Power of Attorney | LegalZoom.com
		link type='text/css' rel='stylesheet' href='css/core-mobile.css'

		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"

	body
		.sidemneu-container#sidemneu_container

		a.menu-overlay

		.viewport

			.bgSignin
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.progress-bar
					.completed
						.text
							span 25
							| % complete
						.arrow

				.pageBody
					.page-questionnaire

						.pageHeader
							 h2.leftAlign Choose your shipping method

						form
							.form-group
								input#shipping_standard name='shipping' type='radio' value='standard' checked=true
								label for='shipping_standard' Standard shipping
								br
								br
								input#shipping_overnight name='shipping' type='radio' value='overnight'
								label for='shipping_overnight' Overnight delivery (Next Business Day) (Add $19.95)
						br
						br
						.order-summary
							h4 Power of Attorney order summary

							ul.order-detail
								li.item-list
									.item.package-name
										| Comprehensive Power of Attorney
									.price
										| $44.95

								li.item-list
									.item
										| 30-Day Trial of Legal Advantages Plus 
										span.included
											| (
											a.help#help_30_day_trial Details
											| )
									.price
										| Free
								li.item-list
									.item
										| Basic Last Will
									.price
										| $62.00
								li.item-list
									.item
										| Basic Living Will
									.price
										| $35.00
								li.item-list
									.item
										| Basic Power of Attorney
									.price
										| $31.00
								li.item-list
									.item
										| Shipping &amp; Handling
									.price
										| Free
								li.item-list.total
									.item
										span Total:
										| $269.95
							p.savings
								strong You saved $80.00 with LegalZoom!
								span
									| (
									a.help#help_savings Details
									| )


						/! questionnaire navigation links
						nav.nav-questionnaire
							a.link-previous href='q_power_of_attorney_packages.html'
								i.icon.icon-caret-left
								|  Previous
						
							a.button.flex.has-right.button-next href='q_checkout_02_payment_info.html'
								.button-right
									.inner
										i.icon.button-icon.arrow-large
								.button-center Next


			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.clear
				.legalAdvice The information provided on this site is not legal advice.

			.modal-overlay

			.tooltip-container

				.tooltip#help_power_durable_tooltip
					.arrow.left
					a.close
						i.icon.icon-tooltip-close
					.container
						p Incapacity generally means the inability to manage your financial affairs, as determined by the written certification of a physician.

				.tooltip#help_30_day_trial_tooltip
					.arrow.left
					a.close
						i.icon.icon-tooltip-close
					.container
						h3 30 Day Trial
						p
							| With 
							strong Legal Advantage Plus
							| , you get hands-on, individualized attention from an experienced attorney. LegalZoom will securely store your Power of Attorney and alllow you to revise it at any time.
						p
							| After the 30-day trial period, benefits will continue automatically for just $14.99 per month. Cancel any time with no futher obligation by calling (877) 816-8787. We'll send you periodic emails about your benefits, which continue until canceled.

				.tooltip#help_savings_tooltip
					.arrow.left
					a.close
						i.icon.icon-tooltip-close
					.container
						h3 Savings
						p Based on a comparison of the average laqwyer price for a Power of Attorney, provided by AttorneyFee.com, to LegalZoom's base package. LegalZoom is not a law firm or a substitute for an attorney for law firm.

