doctype html
html
	head
		meta charset='utf-8'
		meta name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1'

		title Creating your Power of Attorney | LegalZoom.com
		link type='text/css' rel='stylesheet' href='css/core-mobile.css'

		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"

	body
		.sidemneu-container#sidemneu_container

		a.menu-overlay

		.viewport

			.bgSignin
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.progress-bar
					.completed
						.text
							span 25
							| % complete
						.arrow

				.pageBody
					.page-questionnaire

						.pageHeader
							 h2.leftAlign Additional powers for your agent.

						p.light Write in any power(s) you want to grant your agent in addition to those already selected in this questionnaire. You can skip this page if you do not want to grant any additional powers.

						form
							.form-group.has-help
								a.help.absolute#help_additional_powers
									i.icon.icon-question-sign
								p.light.tight
									em Do not reference powers regarding health care decisions, which are covered in a separate document called a Living Will / Health Care Directive.
								
								textarea


						/! questionnaire navigation links
						nav.nav-questionnaire
							a.link-previous href='q_power_of_attorney_07.html'
								i.icon.icon-caret-left
								|  Previous
						
							a.button.flex.has-right.button-next href='q_power_of_attorney_07_2_limits_power.html'
								.button-right
									.inner
										i.icon.button-icon.arrow-large
								.button-center Next

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.clear
				.legalAdvice The information provided on this site is not legal advice.

			.modal-overlay

			.tooltip-container

				.tooltip#help_additional_powers_tooltip
					.arrow.left
					a.close
						i.icon.icon-tooltip-close
					.container
						p Additional powers cannot include the ability to make health care decisions. Your agent can't make health care decisions for you under this document. You can name a health care agent in a separate document, such as a LegalZoom Living Will.