doctype html
html
	head
		meta charset='utf-8'
		meta name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1'

		title Creating your Power of Attorney | LegalZoom.com
		link type='text/css' rel='stylesheet' href='css/core-mobile.css'

		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"

	body
		.sidemneu-container#sidemneu_container

		a.menu-overlay

		.viewport

			.bgSignin
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.progress-bar
					.completed
						.text
							span 25
							| % complete
						.arrow

				.pageBody
					.page-questionnaire

						.pageHeader
							 h2.leftAlign Who is granting the power of attorney?

						form
							.form-group.has-help
								a.help.absolute#help_joint_poa
									i.icon.icon-question-sign
								p.light.tight Please enter your legal name (as it appears on your driver's license, passport, etc.).

							.form-group
								label for='first_name' First name
								input#first_name name='first_name' type='text'
							
							.form-group
								label for='last_name' Last name
								input#last_name name='last_namne' type='text'

							.form-group
								a.help.absolute#help_other_name
									i.icon.icon-question-sign
								h4 Are you know by any other name?
								p.light.tight If you are know by a name other than your legal name, enter it below.
								input#other_name name='other_name' type='text'

							.form-group.select
								label Are you married?
								.select-field
									.select-arrow-container
										.select-arrow
									select#married name='married'
										optgroup
											option
												| -- Please select --
											option Yes
											option No

						/! questionnaire navigation links
						nav.nav-questionnaire
							a.link-previous href='q_power_of_attorney_01.html'
								i.icon.icon-caret-left
								|  Previous
						
							a.button.flex.has-right.button-next href='q_power_of_attorney_03.html'
								.button-right
									.inner
										i.icon.button-icon.arrow-large
								.button-center Next

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.clear
				.legalAdvice The information provided on this site is not legal advice.

			.modal-overlay

			.tooltip-container

				.tooltip#help_joint_poa_tooltip
					.arrow.left
					a.close
						i.icon.icon-tooltip-close
					.container
						h4 Joint Power of Attorney

						p Please note that we do not prepare joint powers of attorney. A joint power of attorney is where two people, such as a husband and wife, share the same power of attorney. The more common approach is to make two powers of attorney that "mirror" each other. In essence, you both choose the same attorney-in-fact, and choose the same options for this person to carry out on your behalf. Thus, both of your wishes are handled by the same person and in regards to the same matters.

				.tooltip#help_other_name_tooltip
					.arrow.left
					a.close
						i.icon.icon-tooltip-close
					.container
						p Some people are known by a name other than their legal name. For example, a person’s given name may be "John Smith", but they may be identified by another name, or hold property in another name, such as "Jack Smith." Or a person may be more commonly identified by their middle name, instead of their first name.