doctype html
html
	head
		meta charset='utf-8'
		meta name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1'

		title Creating your Power of Attorney | LegalZoom.com
		link type='text/css' rel='stylesheet' href='css/core-mobile.css'

		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"

	body
		.sidemneu-container#sidemneu_container

		a.menu-overlay

		.viewport

			.bgSignin
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.progress-bar
					.completed
						.text
							span 25
							| % complete
						.arrow

				.pageBody
					.page-questionnaire
						h3 Make your selection below:
						.package-table
							ul.table
								li.table-header
									.desc The LegalZoom Power of Attorney includes:
									.second
										.package-name Basic
										.price
											| $35.00
									.best
										.package-name Comprehen-sive
										.price
										 	| Add $9.95
							ul.table.scrollable
								li
									.desc
										strong State-specific provisions
										br
										| Tailored to the requirements of your state
									.second.checked
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										strong Peace-of-mind review
										br
										| Personal review by a document specialist
									.second.checked
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										strong Printed on archival-quality paper
										br
										| Acid-free paper ensures your Power of Attorney lasts
									.second.checked
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										strong FREE revisions - up to 30 days after purchase
										br
										| Includes review, reprinting and mailing
									.second.checked
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										strong $50,000 Peace of Mind Guarantee
										br
										| Click for details.
									.second.checked
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										strong Rush processing – 2 business days
										br
										| Expedites review and printing—processing for the Basic Package takes 4 business days
									.second
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										strong Email delivery
										br
										| Emailed to you as soon as it's complete
									.second
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										strong Legal Advantage Plus - 30-day trial*
										br
										| After the 30-day trial period, benefits will continue automatically for just $14.99 per month. Cancel any time with no further obligation by calling (877) 818-8787. We'll send you periodic emails about your benefits, which continue until canceled. Program includes:
									.second
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										ul
											li Attorney support
											| Speak with an experienced attorney on estate planning, contracts and other new legal matters.
									.second
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										ul
											li Annual legal checkup with an attorney
											| Ensure your estate plan and other legal documents are up-to-date
									.second
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										ul
											li Unlimited revisions to your power of attorney
											| Change your last will an unlimited number of times
									.second
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										ul
											li Secure storage and delivery of your power of attorney
											| Store a copy and have it sent to you at any time
									.second
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										ul
											li Unlimited access to LegalZoom's downloadable legal forms
											| Download hundreds of legal forms for personal use
									.second
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										ul
											li 25% savings on additional attorney services
											| Helps cover you if you need additional services
									.second
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark
								li
									.desc
										ul
											li 10% savings on any LegalZoom legal documents
											| Take advantage of savings on our legal documents
									.second
										i.icon.chart-icon-checkmark
									.best.checked
										i.icon.chart-icon-checkmark

						h3 Choose your package
						form
							.form-group
								input.package-basic#package_basic name='package' value='basic' type='radio'
								label for='package_basic' Basic
							.form-group
								input.package-comprehensive#package_comprehensive name='package' value='comprehensive' type='radio' checked='true'
								label for='package_comprehensive' Comprehensive


						/! questionnaire navigation links
						nav.nav-questionnaire
							a.link-previous href='q_power_of_attorney_thankyou.html'
								i.icon.icon-caret-left
								|  Previous
						
							a.button.flex.has-right.button-next href='q_checkout_01_choose_shipping.html'
								.button-right
									.inner
										i.icon.button-icon.arrow-large
								.button-center Next


						p.disclaimer
							| *For full details, please see our 
							a href='https://www.legalzoom.com/legal/product-service-terms/legal-plan-contract' Legal Plan Contract
							|  and 
							a href='https://www.legalzoom.com/legal/product-service-terms/supplemental-terms-of-service-for-advantage-subscriptions' Advantage Terms of Service
							| .
							
			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.clear
				.legalAdvice The information provided on this site is not legal advice.

			.modal-overlay

			.tooltip-container

				.tooltip#help_power_durable_tooltip
					.arrow.left
					a.close
						i.icon.icon-tooltip-close
					.container
						p Incapacity generally means the inability to manage your financial affairs, as determined by the written certification of a physician.
