doctype html
html
	head
		meta charset='utf-8'
		meta name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1'

		title Creating your Power of Attorney | LegalZoom.com
		link type='text/css' rel='stylesheet' href='css/core-mobile.css'

		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"

	body
		.sidemneu-container#sidemneu_container

		a.menu-overlay

		.viewport

			.bgSignin
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.progress-bar
					.completed
						.text
							span 25
							| % complete
						.arrow

				.pageBody
					.page-questionnaire

						h4 Thank you for completing the questionnaire!

						.comprehensive-package
							.image
							h3 We recommend our comprehensive package
							p.light Our Comprehensive Power of Attorney package includes:
							ul
								li
									span Rush preparation of your Power of Attorney
								li
									span Email delivery of your document as soon as it's ready
								li
									span Hands-on attention from an experienced attorney during your free trial of Legal Advantage Plus

						.included-in-your-order
							h3 What's Included In Your Order?
							.customer-support
								.content
									h4.tight Lifetime Customer Support
									p.light Our trained customer support team is standing by to answer your questions -- and will still be there for you even after you place your order.
								.image

							.peace-of-mind
								.content
									h4.tight Peace of Mind Review
									p.light Our in-house team will carefully review your answers, searching for inconsistencies and omissions that might delay the completion of your order.

									p.light Remember - you can change your answers at any time, even after you order.

									p.light Click "continue" to see pricing and packages.
								.image


						/! questionnaire navigation links
						nav.nav-questionnaire
							a.link-previous href='q_power_of_attorney_10.html'
								i.icon.icon-caret-left
								|  Previous
						
							a.button.flex.has-right.button-next href='q_power_of_attorney_packages.html'
								.button-right
									.inner
										i.icon.button-icon.arrow-large
								.button-center Next

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.clear
				.legalAdvice The information provided on this site is not legal advice.

			.modal-overlay

			.tooltip-container

				.tooltip#help_power_durable_tooltip
					.arrow.left
					a.close
						i.icon.icon-tooltip-close
					.container
						p Incapacity generally means the inability to manage your financial affairs, as determined by the written certification of a physician.
