doctype html
html
	head
		meta charset='utf-8'
		meta name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1'

		title Creating your Power of Attorney | LegalZoom.com
		link type='text/css' rel='stylesheet' href='css/core-mobile.css'

		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"

	body
		.sidemneu-container#sidemneu_container

		a.menu-overlay

		.viewport

			.bgSignin
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.progress-bar
					.completed
						.text
							span 25
							| % complete
						.arrow

				.pageBody
					.page-questionnaire

						.pageHeader
							 h2.leftAlign Your agent's powers.

						form
							.form-group
								p.light You can grant your agent the power to make various types of decisions on your behalf. Please select which powers you'd like to give to your agent. (Check all that apply.)

							.form-group
								a.help.absolute#help_real_estate_matters
									i.icon.icon-question-sign
								input#agent_power_real_estate_matters name='agent_power' type='checkbox'
								label for='agent_power_real_estate_matters' Real Estate Matters
								p.light The power to buy, sell, rent and manage property, take out mortgages, and execute deeds.

							.form-group
								input#agent_power_personal_property name='agent_power' type='checkbox'
								label for='agent_power_personal_property' Personal Property Matters
								p.light The power to buy, sell and manage all types of goods such as vehicles, furniture, jewelry and other types of personal property.

							.form-group
								input#agent_power_banking_transctions name='agent_power' type='checkbox'
								label for='agent_power_banking_transctions' Banking Transactions
								p.light The power to sign checks, withdraw funds, open accounts, borrow money and remove items from your safe deposit box.

							.form-group
								input#agent_power_stock_and_bond name='agent_power' type='checkbox'
								label for='agent_power_stock_and_bond' Stock and Bond Transactions
								p.light The power to buy, sell, and exchange stocks, bonds and mutual funds, and vote as a shareholder.

							.form-group
								input#agent_power_business_operating_transactions name='agent_power' type='checkbox'
								label for='agent_power_business_operating_transactions' Business Operating Transactions
								p.light The power to manage, operate and sell any businesses you own, including partnerships and closely-held corporations; to buy or expand businesses; and to exercise rights as a business partner or bond holder.

							.form-group
								input#agent_power_retirement_plans name='agent_power' type='checkbox'
								label for='agent_power_retirement_plans' Retirement Plans
								p.light The power to manage your retirement and pension plans, including exercising investment powers, designating beneficiaries, making contributions, and borrowing against or selling assets.

							.form-group
								input#agent_power_insurance_and_annuities name='agent_power' type='checkbox'
								label for='agent_power_insurance_and_annuities' Insurance and Annuities
								p.light The power to take out insurance policies for yourself or your family, modify them, borrow against them, and surrender them for their present cash value.

						/! questionnaire navigation links
						nav.nav-questionnaire
							a.link-previous href='q_power_of_attorney_04.html'
								i.icon.icon-caret-left
								|  Previous
						
							a.button.flex.has-right.button-next href='q_power_of_attorney_06.html'
								.button-right
									.inner
										i.icon.button-icon.arrow-large
								.button-center Next

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.clear
				.legalAdvice The information provided on this site is not legal advice.

			.modal-overlay

			.tooltip-container

				.tooltip#help_real_estate_matters_tooltip
					.arrow.left
					a.close
						i.icon.icon-tooltip-close
					.container
						p
							| If you would like to limit your attorney-in-fact's ability to sell your home, you can do so on the next pages.
						p
							| To view a sample Power of Attorney, including agent powers, 
							a href='https://www.legalzoom.com/brainnet/huge.aspx?TIMESTRING=n%2f8lq%2fX6QWTdHglubP9Kow%3d%3d&iP=6#' click here
							| .