nav#menu
	ul.sideMenu
		li.topLinks
			#contactwrapper
				#contactcolumn
					a href="signin.html" Sign in
			#siginColumn
				a href="contact.html" Contact Us
		li#myAccount
			a.main href="account_overview.html" My Account / Order status
		li#businessProducts
			a.main href="products.html" Business Products & services
		li#personalProducts
			a.main href="products.html#personal" Personal products & services
		li#findAttorney
			a.main href="find_attorney.html" Find an attorney
		li#taxAdvice
			a.main href="tax_advice.html" Get tax advice
		li#legalForms
			a.main href="legal_forms.html" Legal forms
		li#helpMe
			a.main href="guide.html" Help me find what I need
		li#getApp
			a.main href="http://www.apple.com" Get the LegalZoom app
	
	ul.menuFooter
		li
			a href="termsofuse.html" Terms of use
		li
			a href="privacy_policy.html" Privacy policy
		li
			a href="http://www.legalzoom.com" View full site
	.sideShadow