doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title Sign in | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
		
		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"
		
	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport
			
			.bgSignin
				.siteHeader.gradient
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.pageHeader
					h2 Sign in to get started
				
				.pageBody
					.pagePadded.pageFixed
						br
						p.light By signing in, you'll be able to save and review your answers anytime.
						form
							label.formHeader for="full_name" Email
							br
							input#email.fullMobile type="text" name="email"
							br
							br
							span.haveAccount Do you have a LegalZoom account?
							br
							br
							input#hasAccount type="radio" name="hasAccount" value="no" checked="checked"
							label for="hasAccount" No, I am a new customer
							br
							br
							input#hasAccount2 type="radio" name="hasAccount" value="yes"
							label for="hasAccount2" Yes, I have a password
							br
							br
							label.formHeader for="password" Password
							br
							input#password.fullMobile type="password" name="password"
							br
							br
							#confirmPassword
								label.formHeader for="confirmPassword" Confirm Password
								br
								input#confirmPassword.fullMobile type="password" name="confirmPassword"
								br
												
							#forgotPassword
								a href="forgotPassword.html"Forgot your password?
							br
							.signinButton
								a.button.has-right href="account_overview.html"
									.button-right
										.inner
											i.icon.button-icon.arrow-large
									.button-center Sign in
									
							div class="clear"
							br
							br

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.socialIcons
					ul
						li.socialIconFacebook
							a href="http://www.facebook.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconTwitter
							a href="http://twitter.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconLinkedIn
							a href="http://www.linkedin.com/company/legalzoom" rel="external" data-transition="slide"
						li.socialIconGPlus
							a href="https://plus.google.com/+legalzoom" rel="external" data-transition="slide"
				.clear
				.legalAdvice The information provided on this site is not legal advice.