doctype html
html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"
		
		title Tax Advice | LegalZoom.com
		link type="text/css" rel="stylesheet" href="css/core-mobile.css"
		
		script type="text/javascript" src="js/jquery-1.10.1.min.js"
		script type="text/javascript" src="js/modernizr-2.6.2.min.js"
		script type="text/javascript" src="js/app.min.js"
		script type="text/javascript" src="js/mobile-sidemenu.js"
			
	body
		.sidemenu-container#sidemenu_container

		a.menu-overlay

		.viewport

			div
				.siteHeader
					a#remote-content-menu.leftNavButton href="#remote-content-menu"
						span.badge.hamburgerBadge 12
					.lz-logo
						a href="index.html" LegalZoom
					a.rightNavButton href="tel:800-773-0888"

				.producrHeaderBox.fixedRight.indentLeft.bgTaxAdvice
					h3.small.center GET TAX ADVICE
					h2 Save money and increase revenue by knowing your tax options
					
					.priceBox
						| starting at
						br
						span.price
							| $
							span.big 11
							| .99
						span.term per month
						br
					.productButton
						a.button.has-right href="get_started.html"
							span.button-right
								span.inner
									i.icon.button-icon.arrow-large
							span.button-center Get Started
						br

				div
					.productBox
						p
							| Understanding corporate taxes can help you save money and headaches. Your business taxes can be your company's biggest expense every year. Learn how you can <span class="emphesis">keep more of your money and increase revenue</span> through your tax options.

					.pageDivider
					.productBox
						h3 Whats included:
						.features
							ul
								li
									.icon
										img src="images/icons/icon_key-2x.gif" width="25" height="24"
									| Access to free tax advice through our business partner, Corporate Tax Network
								li
									.icon
										img src="images/icons/icon_folder-2x.gif" width="26" height="23"
									| Tax planning and preparation, bookkeeping and payroll services
								li
									.icon
										img src="images/icons/icon_product_tag-2x.gif" width="27" height="27"
									| Ask questions and get advice on an unlimited number of new tax-related matters
								li
									.icon
										img src="images/icons/icon_product_comment-2x.gif" width="27" height="26"
									| For extensive work, get a special 20% discount exclusive to LegalZoom Legal Plan members
						
				
					.pageDivider

				.pageBody.pagePadded.loginToContinue
					h3 Already a legal plan member?
					p Log in to request a consultation with a Corporate Tax Network tax professional.
					.loginButton
						a.button.has-right href="signin.html"
							span.button-right
								span.inner
									i.icon.button-icon.arrow-large
							span.button-center Log in to continue
	  			br

			.pageDivider
			.clear.siteFooter
				br
				.footerLinks
					a href="disclaimer.html" Disclaimer
					|  | 
					a href="privacy_policy.html" Privacy Policy
				.socialIcons
					ul
						li.socialIconFacebook
							a href="http://www.facebook.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconTwitter
							a href="http://twitter.com/LegalZoom" rel="external" data-transition="slide"
						li.socialIconLinkedIn
							a href="http://www.linkedin.com/company/legalzoom" rel="external" data-transition="slide"
						li.socialIconGPlus
							a href="https://plus.google.com/+legalzoom" rel="external" data-transition="slide"
				.clear
				.legalAdvice The information provided on this site is not legal advice.