#products-all.pageHeader
  h2.small
    |  PRODUCTS & SERVICES 
.pageBody
  div
    #segmentMenu.segmentMenu
      ul
        li#segmentBusiness.selected
          a#butTypeBusiness[href="#business"]
            | Business
        li#segmentPersonal
          a#butTypePersonal[href="#personal"]
            | Personal
    br
    .menuPadding
      #roundedSegmentMenu.roundedSegmentMenu
        ul
          li#catButton.selected
            |  Categories 
          li#azButton
            |  A-Z 
    br
    br
    #productsBusinessAZ.hidden
      .productList
        dl
          dd
            a[href="https://www.legalzoom.com/501c3/501c3-application-overview.html"]
              | 501(c)(3) Application
          dd
            a[href="http://www.legalzoom.com/additional-business-services/annual-reports.html"]
              | Annual Reports
          dd
            a[href="http://www.legalzoom.com/business-formations/business-formations.html"]
              | Business Licenses
          dd
            a[href="http://www.legalzoom.com/additional-business-services/stand-alone-bylaws-resolutions.html"]
              | Bylaws & Resolutions
          dd
            a[href="http://www.legalzoom.com/additional-business-services/corporate-minutes.html"]
              | Corporate Minutes
          dd
            a[href="http://www.legalzoom.com/additional-business-services/compliance-calendar-services.html"]
              | Compliance Calendar
          dd
            a[href="http://www.legalzoom.com/additional-business-services/articles-of-amendment-corporation-llc.html"]
              | Corporate Amendments
          dd
            a[href="https://www.legalzoom.com/additional-business-services/articles-of-amendment-corporation-llc.html"]
              | Corporate Name Change
          dd
            a[href="https://www.legalzoom.com/additional-business-services/articles-of-dissolution-corporation-llc.html"]
              | Dissolution
          dd
            a[href="https://www.legalzoom.com/additional-business-services/ein-federal-tax-identification-number.html"]
              | Federal Tax ID (EIN)
          dd
            a[href="https://www.legalzoom.com/additional-business-services/foreign-qualifications-for-business.html"]
              | Foreign Qualification
          dd
            a[href="/incorporation-product"]
              | Incorporation (S Corp., C Corp.) 
          dd
            a[href="https://www.legalzoom.com/additional-business-services/initial-reports.html"]
              | Initial Reports
          dd
            a[href="/llc-product"]
              | LLC (Limited Liability Company) 
          dd
            a[href="https://www.legalzoom.com/limited-liability-partnerships/limited-liability-partnership-overview.html"]
              | LLP (Limited Liability Partnership)
          dd
            a[href="https://www.legalzoom.com/limited-partnerships/limited-partnership-overview.html"]
              | LP (Limited Partnership)
          dd
            a[href="/nonprofit-product"]
              | Nonprofit
          dd
            a[href="https://www.legalzoom.com/additional-business-services/stand-alone-operating-agreements.html"]
              | Operating Agreements
          dd
            a[href="/real-estate-deed-transfer-product"]
              | Real Estate Deed Transfer
          dd
            a[href="https://www.legalzoom.com/additional-business-services/registered-agent-services.html"]
              | Registered Agent Services
          dd
            a[href="/residential-lease-product"]
              | Real Estate Lease
          dd
            a[href="https://www.legalzoom.com/additional-business-services/s-corp-election.html"]
              | S-Corp Election
          dd
            a[href="https://www.legalzoom.com/additional-business-services/sellers-permit.html"]
              | Seller's Permit
          dd
            a[href="/dba-sole-proprietorships-product"]
              | Sole Proprietorship / DBA
          dd
            a[href="https://www.legalzoom.com/additional-business-services/state-tax-id.html"]
              | State Tax ID
    #productsBusinessCategorized
      .productList
        dl
          dt
            |  MOST POPULAR 
          dd
            a[href="/llc-product"]
              | LLC (Limited Liability Company)
          dd
            a[href="/incorporation-product"]
              | Incorporation (S Corp., C Corp.)
          dd
            a[href="/trademark-registration-product"]
              | Trademark
          dd
            a[href="/dba-sole-proprietorships-product"]
              | Sole Proprietorship / DBA
      .helpMeDecideProduct
        #inner
          h3
            |  Not sure which product you need? 
          a.button.flex.mobile[href="/guide-business"]
            span.button-center
              | Help me decide
          br
          br
      .productList
        dl
          dt
            |  Forming Your Business 
          dd
            a[href="/llc-product"]
              | LLC (Limited Liability Company)
          dd
            a[href="/dba-sole-proprietorships-product"]
              | Sole Proprietorship / DBA
          dd
            a[href="/incorporation-product"]
              | Incorporation (S Corp., C Corp.)
          dd
            a[href="/nonprofit-product"]
              | Nonprofit
          dt
            |  Legal Forms & Agreements 
          dd
            a[href="/legalforms/general-agreement"]
              | General Agreement
          dd
            a[href="/legalforms/business-plan-nondisclosure-agreement"]
              | Business Plan Non-Disclosure Agreement
          dd
            a[href="/legalforms/promissory-note-secured-amortized-payments"]
              | Promissory Note (Secured / Amortized)
          dd
            a[href="/legalforms/independent-contractor-agreement"]
              | Independent Contractor Agreement
          dd
            a[href="/legalforms/employee-agreement"]
              | Employment Agreement
          dd
            a[href="/legal-forms"]
              | More...
          dt
            |  Patents & Copyright Registration 
          dd
            a[href="/copyright-product"]
              | Copyright Registration
          dd
            a[href="/patents-product"]
              | Provisional Application for Patent
          dt
            |  Trademarks 
          dd
            a[href="/trademark-registration-product"]
              | Trademark Registration
          dt
            |  Real Estate 
          dd
            a[href="/residential-lease-product"]
              | Real Estate Lease
          dd
            a[href="/real-estate-deed-transfer-product"]
              | Real Estate Deed Transfer
          dt
            |  Additional Business Services 
          dd
            a[href="/find-attorney-business"]
              | Business Legal Plan
          dd
            a[href="/immigration-work-visa-product"]
              | Work Visa
    #productsPersonalAZ.hidden
      .productList
        dl
          dd
            a[href="/bankruptcy-product"]
              | Bankruptcy
          dd
            a[href="/copyright-product"]
              | U.S. Copyright Registration
          dd
            a[href="https://www.legalzoom.com/disability/social-security-disability-overview.html"]
              | Disability Benefits
          dd
            a[href="/divorce-product"]
              | Divorce
          dd
            a[href="http://www.legalzoom.com/dui/dui-overview.html"]
              | DUI / DWI
          dd
            a[href="/living-will-product"]
              | Health Care Power of Attorney
          dd
            a[href="/green-card-product"]
              | Immigration
          dd
            a[href="/last-will-and-testament-product"]
              | Last Will & Testament
          dd
            a[href="/legal-forms"]
              | Legal Forms & Agreements
          dd
            a[href="/living-trust-product"]
              | Living Trust
          dd
            a[href="/living-will-product"]
              | Living Will (Advance Directive)
          dd
            a[href="http://www.legalzoom.com/legal-name-change/name-change-overview.html"]
              | Name Change
          dd
            a[href="/find-attorney-personal"]
              | Personal Legal Plan
          dd
            a[href="https://www.legalzoom.com/pet-trust-agreement/pet-protection-overview.html"]
              | Pet Protection Agreement
          dd
            a[href="/power-of-attorney-product"]
              | Power of Attorney
          dd
            a[href="/prenuptial-agreement-product"]
              | Prenuptial Agreement
          dd
            a[href="/real-estate-deed-transfer-product"]
              | Real Estate Deed Transfer
          dd
            a[href="/residential-lease-product"]
              | Real Estate Lease
    #productsPersonalCategorized.hidden
      .productList.orange
        dl
          dt
            |  MOST POPULAR 
          dd
            a[href="/last-will-and-testament-product"]
              | Last Will & Testament
          dd
            a[href="/living-will-product"]
              | Living Will (Advance Directive)
          dd
            a[href="/power-of-attorney-product"]
              | Power of Attorney (Financial)
          dd
            a[href="/living-trust-product"]
              | Living Trust
      .helpMeDecideProduct.personal
        #inner
          h3
            |  Not sure which product you need? 
          a.button.flex.mobile[href="/guide-global"]
            span.button-center
              | Help me decide
          br
          br
      .productList.orange
        dl
          dt
            |  Personal Services 
          dd
            a[href="/bankruptcy-product"]
              | Bankruptcy
          dd
            a[href="/divorce-product"]
              | Divorce
          dd
            a[href="/green-card-product"]
              | Immigration
          dd
            a[href="/personal-injury-product"]
              | Personal Injury
          dd
            a[href="/prenuptial-agreement-product"]
              | Prenuptial Agreement
          dt
            |  Wills & Trusts 
          dd
            a[href="/last-will-and-testament-product"]
              | Last Will & Testament
          dd
            a[href="/living-trust-product"]
              | Living Trust
          dd
            a[href="/living-will-product"]
              | Living Will (Advance Directive)
          dd
            a[href="/power-of-attorney-product"]
              | Power of Attorney (Financial)
          dt
            |  Real Estate 
          dd
            a[href="/residential-lease-product"]
              | Real Estate Lease
          dd
            a[href="/real-estate-deed-transfer-product"]
              | Real Estate Deed Transfer
          dt
            |  Additional Personal Services 
          dd
            a[href="/find-attorney-personal"]
              | Personal Legal Plan
          dd
            a[href="/copyright-product"]
              | U.S. Copyright Registration
          dd
            a[href="/legal-forms"]
              | Legal Forms and Agreements
div
  a.viistFullWebsite[href="https://www.legalzoom.com/products-and-services.html"]

  p
    |  Visit our 
    span.underline
      | full website
    |  to see all of our products. 
  .visitfullWebsiteIcon
