doctype html
html
	head
		meta http-equiv='Content-Type' content='text/html;charset=utf-8'
		meta http-equiv='X-UA-Compatible' content='IE=Edge'
		meta name='viewport' content='width=device-width; initial-scale=1; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;'
		title Pixel Pushing Monkey | Portfolio
		link rel='stylesheet' type='text/css' href='css/app.css'
		script type='text/javascript' src='js/modernizr-2.6.2.js'
		script type='text/javascript' src='js/jquery-2.1.0.min.js'
		script type='text/javascript' src='js/app.min.js'
	body
		nav.site-header
			.container
				a.logo.small
				nav.site-nav
					ul.clearfix
						li
							a portfolio
						li
							a blog

		.content-container

			.panel.home
				.logo
				.my-portrait
				.line
				.fa.fa-angle-down
				.content
					h1.no-margin Steve Mu
					h2 UI/UX Design
					p Graphic and user interface designer with 15 years of experience. Weath of experience across a wide number of industries, including e-commerce, consumer products, beauty care, fashion tech, search engine, legal tech, and financial tech.
					p I am a seasoned graphic and user interface designer with a wealth of experiences across a wide variety of industries, and once a co-founder of a startup that was a part of the Techstars accelerator program. My experiences include e-commerce, consumer products, beauty care, fashion tech, search engine, legal tech, and financial tech.

					p I have designed for mobile apps, mobile web, and responsive design. Created complete front-end prototype with modern HTML templating languages like Haml, Slim, Jade, and written modular responsive CSS with SASS. I have also worked on Rails and written JavaScripts for front and back-end integration.
				.skills
					.skills-icon.small.html
					.skills-icon.small.js
					.skills-icon.small.css
					.skills-icon.small.ui
					.skills-icon.small.rd
					.skills-icon.small.mobile
					.skills-icon.small.mobile-web


			.panel.legalzoom
			.panel.rushcard
			.panel.shopsy
			.panel.reflect
			.panel.mokafive
			.panel.fixya
			.panel.zenbe
			.panel.presto