!!! 5
%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
		%meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=Edge'}/
		%meta{'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1'}/
		%title Manage My Rush Card : Pay My Bills
		%link{:href => 'css/html5reset-1.6.1.css', :rel => 'stylesheet', :type => 'text/css'}/
		%link{:href => 'css/common.css', :rel => 'stylesheet', :type => 'text/css'}/
		%link{:href => 'css/billpay.css', :rel => 'stylesheet', :type => 'text/css'}/
		%link{:href => 'css/checks.css', :rel => 'stylesheet', :type => 'text/css'}/
		%link{:href => 'css/smoothness/jquery-ui-1.8.21.custom.css', :rel => 'stylesheet', :type => 'text/css'}/
		%script{:type => 'text/javascript', :src => 'js/modernizr-2.5.3.js'}
		%script{:type => 'text/javascript', :src => 'js/jquery-1.7.2.min.js'}
		%script{:type => 'text/javascript', :src => 'js/jquery-ui-1.8.21.custom.min.js'}
		%script{:type => 'text/javascript', :src => 'js/rc-site-function.min.js'}

	%body

		/ site header
		.header-site
			.container
				/ logo 
				%a{:class => 'logo', :href => '#'}Rushcard

				/ nav for user related links, logins and etc
				%nav.nav-user
					%ul
						%li
							%a{:href => '#'}Customer Care
						%li
							%a{:href => '#'}Setup Profile
						%li
							%a{:href => '#'}Logout

		/ site nav
		%nav.nav-site
			%ul
				%li
					%a{:class => 'selected', :href => '#'}My Money<span class="arrow"></span>
				%li
					%a{:href => '#'}My Health<span class="arrow"></span><span class="new"></span>
				%li
					%a{:href => '#'}My Community<span class="arrow"></span>

		/ site content container
		.content-container

			/ breadcrumb trail
			%nav.nav-breadcrumb
				%ul
					%li
						%a{:class => 'home', :href => '/'}Home<span></span>
					%li
						&gt;
					%li
						Pay My Bills
			.clear

			/ sidebar
			.content-user-profile

				/ user profile
				.user-profile
					%p.message-welcome Welcome Back, <span class="username">username</span>
					.user-profile-pic
						%img{:src => 'images/profilepic_guest.gif', :alt => 'profilepic_guest', :width => '60', :height => '60'}/
					%nav.user-profile-links
						%ul
							%li
								%a{:class => 'dark', :href => '#'}Set Up Profile
							%li
								%a{:class => 'dark', :href => '#'}Logout
					.clear

				/ card, account selection
				.cards.selected
					%input{:type => 'image', :class => 'card-image', :src => 'images/BPP_card_shadow.gif'}
					%span.arrow-selected
					%nav.card-info
						%ul
							%li.available-balance $1,496.03
							%li.expiration-date Exp: 10/14
							%li.account-name Acct: xx1956
							%li.enroll
								%a{:href => '#'}Enroll in Direct Deposit
					.clear
					%nav.card-detail
						%ul.detail-links
							%li.plan
								My Plan:
								%a{:href => '#'}Pay as you go
							%li.card-status
								Card Status:
								%a{:href => '#'}Inactive
							%li
								%a{:href => '#'}View Transactions
							%li
								%a{:href => '#'}Transfer Money
						%ul
							%li.view-detail
								%a{:href => '#', :class => 'closed'} <span class='float-left'></span>View Details<span class='float-right'></span>
					.clear

				.cards
					%input{:type => 'image', :class => 'card-image', :src => 'images/BPP_card_shadow.gif'}
					%span.arrow-selected
					%nav.card-info
						%ul
							%li.available-balance $40.03
							%li.expiration-date Exp: 6/13
							%li.account-name Acct: xx4241
							%li.enroll
								%a{:href => '#'}Enroll in Direct Deposit
					.clear
					%nav.card-detail
						%ul.detail-links
							%li.plan
								My Plan:
								%a{:href => '#'}Pay as you go
							%li.card-status
								Card Status:
								%a{:href => '#'}Inactive
							%li
								%a{:href => '#'}View Transactions
							%li
								%a{:href => '#'}Transfer Money
						%ul
							%li.view-detail
								%a{:href => '#', :class => 'closed'} <span class='float-left'></span>View Details<span class='float-right'></span>
					.clear

				/ add and remove accounts
				.accounts-add-remove
					<span class='icon'></span><a class='account-add' href='#'>Add</a>/<a class='account-remove' href='#'>Remove</a> Acct.

				/ nav menu in the sidebar
				%nav.nav-menu
					%ul.level1
						%li
							%a{:href => '#'}View My Account<span class='carrot'></span>
							%ul.flyout
								%li
									%a{:href => '#'}See My Transactions
								%li
									%a{:href => '#'}See My Monthly Statements
								%li
									%a{:href => '#'}See My Spending
								%li
									%a{:href => '#'}See My Balance Trends
						%li
							%a{:href => '#'}Manage My Money<span class='carrot'></span>
							%ul.flyout
								%li
									%a{:href => '#', :class => 'highlight'}Set and Track My Budget<span>Create</span>
								%li
									%a{:href => '#', :class => 'highlight'}Go Paperless with eSign<span>Enroll</span>
								%li
									%a{:href => '#', :class => 'highlight'}Pay My Bills<span>Enroll</span>
								%li
									%a{:href => '#'}Change My Future Direct Deposits
								%li
									%a{:href => '#', :class => 'highlight'}Transfer Money<span>Enroll</span>
								%li
									%a{:href => '#'}Change My Plan
								%li
									%a{:href => '#'}View Promotions &amp; Shopping Offers
								%li
									%a{:href => '#', :class => 'highlight'}Rush Text and Email Alerts<span>Enroll</span>
								%li
									%a{:href => '#', :class => 'highlight'}Create My RushGoals<span>Setup</span>
						%li
							%a{:href => '#'}Add Money<span class='carrot'></span>
							%ul.flyout
								%li
									%a{:href => '#'}Direct Deposit/Tax Refunds
								%li
									%a{:href => '#'}Federal Benefits
								%li
									%a{:href => '#'}Add Cash
								%li
									%a{:href => '#'}Other Ways to Add Money
						%li
							%a{:href => '#'}Manage My Profile<span class='carrot'></span>
							%ul.flyout
								%li
									%a{:href => '#'}Rush Text and Email Alerts
								%li
									%a{:href => '#'}Edit My Profile
								%li
									%a{:href => '#'}Add Account
						%li
							%a{:href => '#'}My health
						%li
							%a{:href => '#'}My Community

				%nav.nav-social
					%ul
						%li
							%a.social-icons.facebook{:href => '#'}Facebook
						%li
							%a.social-icons.myspace{:href => '#'}My Space
						%li
							%a.social-icons.twitter{:href => '#'}Twitter

			/ main content area
			.content-main

				.content-billpay.rounded8

					/ content for checks hackathon project starts here
					.checks
						%input.textfield.payto{:type => 'text'}
						%input.textfield.date{:type => 'text', :placeholder => 'MM/DD/YYYY'}
						%input.textfield.amount{:type => 'text', :placeholder => '00.00'}
						%input.textfield.memo{:type => 'text'}

					.nav.check-submit
						%a.button.orange.larger submit payment
						.clear














