.content-image style="width: 749px;"
	img src="images/reflect/gloss/gloss_01.jpg" alt="gloss_01" width="749" height="1569"

.content-description
	p Elixir custom lip gloss was a combination of 100 shades and 10 different "lusters" (including a no-luster option), creating over 1,100 combinations of shades total.