.content-image style="width: 747px;"
  img src="images/reflect/gloss/gloss_03.jpg" alt="gloss_03" width="747" height="851"

.content-description
	p Each gloss can be customized with a fragrance, plumper, and label.