.content-image style="width: 748px;"
	img src="images/reflect/gloss/gloss_02.jpg" alt="gloss_02" width="748" height="841"

.content-description
	p Completely interactive process to create the gloss. Changing the shades and luster on each side would reflect the results immediately.