.content-image style="width: 745px;"
	img src="images/reflect/homepage/homepage_spring.jpg" alt="homepage_spring" width="745" height="1150"

.content-description
	p The homepage has an established framework and content placement, but the colors and themes are always changing.