.content-image style="width: 743px;"
	img src="images/reflect/homepage/homepage_sugarPlumHolidays.jpg" alt="homepage_sugarPlumHolidays" width="743" height="1087"

.content-description
	p Another homepage sample.