.content-image style="width: 756px;"
	img src="images/reflect/homepage/homepage_giftGloss.jpg" alt="homepage_giftGloss" width="756" height="1162"

.content-description
	p Being a beauty brand means that our homepage is always changing with seasonality. As soon as the last monthly/seasonal promotion is done, we're working on the next set of products already.