.content-image style="width: 631px;"
  img src="images/reflect/productshot/prodshot_colorPalette.jpg" alt="prodshot_colorPalette" width="631" height="531"

.content-description
	p Product shot for color palette.