/*
	badge styles
	imported from 'badges.scss'
*/

.badge-bbb {
	display: block;
	width: 108px;
	height: 42px;
	overflow: hidden;
	background: transparent url(../images/badge-bbb.png) no-repeat 0 0;
}

.badge-satisfaction-guaranteed {
	display: block;
	width: 98px;
	height: 64px;
	overflow: hidden;
	background: transparent url(../images/badge-satisfaction-guaranteed.png) no-repeat 0 0;
}