/*
	comparison chart - This is the multi-color, old styled comparison chart that we're still using for now
	imported from 'charts-multi-color.scss'
*/

.comparison-chart {
	margin-top: 90px;
	position: relative;
	.shadow {
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 100%;
		height: 10px;
		background: transparent url(../images/shadow-curved-photo-md.png) no-repeat center top;
		background-size: 100% 10px;
	}
	.shadow-ie8 {
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 100%;
		height: 10px;
	}
	table {
		border-collapse: separate;
		width: 940px;
		thead {
			border-radius: 10px;
			th {
				width: 159px;
				border-top: 1px solid #dedede;
				border-right: 1px solid #fff;
				border-bottom: 1px solid #fff;
				text-align: center;
				position: relative;
				h3 {
					font-size: 17px;
					color: #fff;
					font-weight: bold;
					margin: 14px 0 10px 0;
					text-shadow: 0 1px rgba(0,0,0,0.5);
				}
				.relative {
					display: block;
					position: relative;
				}
				.price {
					color: #fff;
					font-size: 17px;
					line-height: 1;
					margin-bottom: 10px;
					span {
						color: #fff;
						font-size: 11px;
						font-weight: normal;
						margin-top: -2px;
					}
				}
				&.direction-text {
					position: relative;
					color: #7c7c7c;
					padding-top: 40px;
					vertical-align: bottom;
					text-align: left;
				}
				.desc {
					padding: 0 20px 0 20px;
					color: #fff;
					font-size: 13px;
					font-weight: normal;
					line-height: 1.2;
					margin-bottom: 14px;
				}
				&:first-child {
					border-top-left-radius: 10px;
					border-left: 1px solid #dedede;
					border-bottom: 1px solid #dedede;
					width: 438px;
					padding: 20px;
				}
				&.last {
					border-top-right-radius: 10px;
					border-right: 1px solid #dedede;
					background: #5290c8;
				}
				&.best {
					background: $brand-dark-orange;
					h3 {
						font-size: 18px;
					}
				}
				&.second {
					background: #193980;
				}
				.banner-bg {
					display: block;
					position: absolute;
					z-index: 5;
					top: -84px;
					width: 159px;
					height: 80px;
					background: $brand-dark-orange;
				}
				.banner-folded {
					position: absolute;
					z-index: 10;
					top: -72px;
					width: 190px;
					background: $brand-yellow;
				}
			}
		}
		tbody {
			h5 {
				font-size: 16px;
				color: $brand-indigo;
				margin-bottom: 0.2em;
			}
			.detail {
				color: $brand-dark-gray;;
				font-size: 12px;
				margin-bottom: 12px;
			}
			tr {
				border-right: 1px solid #dedede;
				td {
					border-right: 1px solid #fff;
					border-bottom: 1px solid #fff;
					padding: 20px 20px 10px 20px;
					line-height: 1.3;
					position: relative;
					&:first-child {
						border-bottom: 1px solid #dedede;
						border-left: 1px solid #dedede;
					}
					&.last {
						border-right: 1px solid #dedede;
						vertical-align: middle;
						&.checked {
							background: #e5edf7;
						}
						.callout {
							color: #7c8eb7;
						}
					}
					&.best {
						vertical-align: middle;
						&.checked {
							background: #fce9db;
						}
						.callout {
							color: $brand-dark-orange;
							font-size: 18px;
							font-style: italic;
						}
						.shipping {
							color: $brand-dark-orange;
							font-weight: bold;
						}
					}
					&.second {
						vertical-align: middle;
						&.checked {
							background: #dfe1ed;
						}
						.callout {
							color: #7c8eb7;
						}
					}
					.chart-icon-checkmark {
						margin: 0 auto;
						display: none;
					}
					&.checked {
						.chart-icon-checkmark {
							display: block;
						}
					}
					.callout {
						font-size: 16px;
						font-weight: bold;
						text-align: center;
						margin: 0;
					}
					.shipping {
						text-align: center;
						font-size: 12px;
					}
					&.flyout {
						cursor: pointer;
						&:hover {
							background: #e6f0fa;
						}
						.relative {
							position: relative;
							display: block;
						}
					}
				}
				&.last {
					td {
						border-bottom: 1px solid #dedede;
					}
				}
			}
		}
		tfoot {
			td {
				padding: 20px 10px 30px 10px;
				text-align: center;
				&:first-child {
					color: $brand-indigo;
					font-size: 20px;
					vertical-align: middle;
					font-weight: bold;
					text-align: right;
				}
				.package-label {
					font-family: $font-medium;
					color: $brand-blue;
					display: block;
					margin-bottom: 6px;
				}
				.package-price {
					margin-bottom: 6px;
					margin-left: -8px;
				}
				.price-difference {
					font-size: 12px;
					color: #959595;
				}
				&.best {
					.package-label {
						color: $brand-dark-orange;
					}
				}
			}
		}
	}
}

.chart-icon-checkmark {
	width: 18px;
	height: 16px;
	display: block;
	background: transparent url(../images/sprite-chart-icons.png) no-repeat 0 -30px;
	.best & {
		background-position: 0 -60px;
	}
	.second & {
		background-position: 0 -90px;
	}
	.last & {
		background-position: 0 -120px;
	}
}