/*
	flyouts - this is the flyout used for the product comparison chart
	imported from 'flyout.scss'
*/

.flyout-content {
	background: #fff;
	display: none;
	font-size: 13px;
	border-radius: 12px;
	border: 3px solid $brand-blue;
	width: 380px;
	padding: 14px;
	position: absolute;
	top: -14px;
	right: -420px;
	z-index: 120;
	font-size: 12px;
	font-family: $font-sans-serif;
	line-height: 1.3;
	z-index: 10;
	.flyout:hover & {
		display: block;
	}
	.csstransitions & {
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		-ms-transition: opacity 500ms;
		-o-transition: opacity 500ms;
		transition: opacity 500ms;
	}
	.csstransitions .flyout:hover & {
		visibility: visible;
		opacity: 1;
		box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
	}
	.arrow {
		position: absolute;
		display: block;
		background: transparent url(../images/sprite-tooltip.png) no-repeat 0 -120px;
		width: 9px;
		height: 14px;
		top: 16px;
		left: -10px;
	}
	h3 {
		font-size: 14px;
		margin-bottom: 0.5em;
	}
	p {
		font-size: 12px;
		margin-bottom: 1em;
	}
	.img {
		display: block;
		background: $brand-gray;
		width: 380px;
		height: 240px;
		margin-bottom: 10px;
	}
}