.content-image style="width: 840px;"
	img src="images/zenbe/ui/files_timelineView_expanded.jpg" alt="files_timelineView_expanded" width="840" height="553"

a.expand href='images/zenbe/ui/files_timelineView_expanded.jpg' target='_blank'
	span full size 
	.fa.fa-external-link