.content-image style="width: 840px;"
	img src="images/zenbe/ui/files_columnView.jpg" alt="files_columnView" width="840" height="553"

a.expand href='images/zenbe/ui/files_columnView.jpg' target='_blank'
	span full size 
	.fa.fa-external-link
