.content-image style="width: 840px;"
	img src="images/zenbe/ui/tags_listview.jpg" alt="tags_listview" width="840" height="553"

a.expand href='images/zenbe/ui/tags_listview.jpg' target='_blank'
	span full size 
	.fa.fa-external-link