.content-image style="width: 840px;"
  img src="images/zenbe/ui/Accounts_03_settingsExpanded.jpg" alt="Accounts_03_settingsExpanded" width="840" height="553"

a.expand href='images/zenbe/ui/Accounts_03_settingsExpanded.jpg' target='_blank'
	span full size 
	.fa.fa-external-link
