.content-image style="width: 840px;"
	img src="images/zenbe/ui/Accounts_01_initialView.jpg" alt="Accounts_01_initialView" width="840" height="553"

a.expand href='images/zenbe/ui/Accounts_01_initialView.jpg' target='_blank'
	span full size 
	.fa.fa-external-link
