doctype html
html
	head
		meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
		meta(content='IE=Edge', http-equiv='X-UA-Compatible')
		meta(content='chrome=1', http-equiv='X-UA-compatible')
		title Legalzoom
		link(href='css/html5-doctor-reset-stylesheet.min.css', rel='stylesheet', type='text/css')
		link(href='css/font-awesome.css', rel='stylesheet', type='text/css')
		link(href='css/qaire.css', rel='stylesheet', type='text/css')
		script(src='js/modernizr-2.6.2.js', type='text/javascript')
		script(src='js/jquery-1.10.1.min.js', type='text/javascript')
		script(src='js/app.min.js', type='text/javascript')
		script(src='js/qaire.js', type='text/javascript')
		//if lte IE 8
			link(href='css/ie8.css', rel='stylesheet', type='text/css')
		//if lte IE 9
			link(href='css/ie9.css', rel='stylesheet', type='text/css')
	body
		// 960px site container 
		.site-container
			
			// header and logo for questionnaire 
			.qaire-header
				a.lz-logo(href='#') LegalZoom
				h1 Creating Your LLC
			
			// steps nav 
			ul.steps-solid
				li.completed
					a
						span.link About your business
						span.arrow
				li.completed
					a
						span.link Name & address
						span.arrow
				li.active
					a
						span.link Owners & Mgmt
						span.arrow
				li.inactive
					a
						span.link Tax setup
						span.arrow
				li.inactive
					a
						span.link Business setup
						span.arrow
				li.inactive.last
					a
						span.link Place order
						span.arrow
			.clear
			
			// main content 
			.content-main
				h1 How will ownership be divided?
				p
					| Please tell us how ownership will be measured and how the business will be divided between the owners. To learn more, 
					a(href='#') click here
					| .
				.form-group
					.form-fields
						input#manage_1(name='manage', type='radio')
						label(for='manage_1') Ownership will be measured in percentages
					.form-fields
						input#manage_2(name='manage', type='radio')
						label(for='manage_2') Ownership will be measured in units
					a#help_dissolution_answer.help.icon.lz-icon-help.small.desc
						| How did most people answer this question?
				h3 Please enter the ownership for each owner
				p Please make sure all percentages add up to 100%. (DISPLAY IF = “Percentages”)
				p You can enter any number of units for each owner. (DISPLAY IF = “Units”)
				.form-group
					h4 Steve Mu
					.form-fields
						label
							| Ownership Percentage/Units
							br
						input.short(type='text')
					h4 Mark Kucalaba
					.form-fields
						label
							| Ownership Percentage/Units
							br
						input.short(type='text')
				h3 What are the rules regarding transfer of ownership?
				p.tight
					| Please select the consent required for any owner to sell, give, or otherwise transfer any portion of their ownership stake in the business.
				.form-group
					.form-fields
						input#consent_1(name='consent', type='radio')
						label(for='consent_1') Consent is required by all owners.
					.form-fields
						input#consent_2(name='consent', type='radio')
						label(for='consent_2') Consent is required by owners that together own a majority of the business
					.form-fields
						input#consent_3(name='consent', type='radio')
						label(for='consent_3') Consent is not required by any other owners.
					a#help_dissolution_answer.help.icon.lz-icon-help.small.desc
						| How did most people answer this question?
				
				hr.top-space
				
				// page navigation 
				ul.page-nav
					li
						a.link-back(href='qaire-10m.html')
							i.icon.lz-icon-blue.arrow-back
							span Back
					li
						// orange button with icon on right 
						a.button.orange.flex.has-right(href='qaire-13.html')
							span.button-right
								span.inner
									i.icon.button-icon.arrow-large
							span.button-center Save & continue
				.clear
				br
				br
			
			// sidebar 
			.content-sidebar
				.qaire-sidebar
					.customer-service
					blockquote
						.open &#8220;
						p.quote
							| Everything was done RIGHT and FAST. Very helpful in getting my business started. I would recommend LegalZoom to anyone. Surpassed my expectations by a long shot.
							span.close  &#8221;
						.from - Robert Fristoe, Kansas City.
			.clear
	
		// site footer 
		.footer
			.divider
			p.legal &copy; LegalZoom.com, Inc. All rights reserved.
			p.legal
				| Disclaimer: Communications between you and LegalZoom are protected by our 
				a(href='#') Privacy Policy
				| but not by the attorney-client privilege or as work product. LegalZoom provides access to independent attorneys and self-help services at your specific direction. We are not a law firm or a substitute for an attorney or law firm. We cannot provide any kind of advice, explanation, opinion, or recommendation about possible legal rights, remedies, defenses, options, selection of forms or strategies. Your access to the website is subject to our 
				a(href='#') Terms of Use
				| . LegalZoom.com, Inc., 101 N Brand Blvd, 11th Floor, Glendale, CA 91203 is a registered and bonded legal document assistant, #0104, Los Angeles County (exp. 12/13).
		
		// tooltip container 
		.tooltip-container
			#help_tooltip.tooltip.wide
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p
					| A business can have any number of owners. An owner can be an individual, a company, or a legal trust. If there is more than one owner, each owner receives a share of the business profits and losses based upon his or her ownership percentage
				p
					| If you have more questions about business owners, please call us at (855) 773-0880.
			#help_answer_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet placerat sagittis. Proin porta dui in erat tincidunt nec placerat libero elementum. Donec semper, turpis ultrices interdum mattis.
		
		// modals 
		.modal
			.container
				a.close
				.shadow
				//[lf lte IE 8]
					img.shadow-ie8(src='images/shadow-curved-photo-md.png')
				.overlay
				.content

		.modal-overlay
