doctype html
html
	head
		meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
		meta(content='IE=Edge', http-equiv='X-UA-Compatible')
		meta(content='chrome=1', http-equiv='X-UA-compatible')
		title Legalzoom
		link(href='css/html5-doctor-reset-stylesheet.min.css', rel='stylesheet', type='text/css')
		link(href='css/font-awesome.css', rel='stylesheet', type='text/css')
		link(href='css/qaire.css', rel='stylesheet', type='text/css')
		script(src='js/modernizr-2.6.2.js', type='text/javascript')
		script(src='js/jquery-1.10.1.min.js', type='text/javascript')
		script(src='js/app.min.js', type='text/javascript')
		script(src='js/qaire.min.js', type='text/javascript')
		//if lte IE 8
			link(href='css/ie8.css', rel='stylesheet', type='text/css')
		//if lte IE 9
			link(href='css/ie9.css', rel='stylesheet', type='text/css')
	body
		// 960px site container 
		.site-container
			
			// header and logo for questionnaire 
			.qaire-header
				a.lz-logo(href='#') LegalZoom
				h1 Creating Your LLC
			
			// steps nav 
			ul.steps-solid
				li.active
					a
						span.link About your business
						span.arrow
				li.inactive
					a
						span.link Name & address
						span.arrow
				li.inactive
					a
						span.link Owners & Mgmt
						span.arrow
				li.inactive
					a
						span.link Tax setup
						span.arrow
				li.inactive
					a
						span.link Business setup
						span.arrow
				li.inactive.last
					a
						span.link Place order
						span.arrow
			.clear
			
			// main content 
			.content-main
				h1 Are you forming a Professional LLC??
				p
					| If you are required to be licensed to practice your business in your state, you most likely need to form a Professional LLC.
				.form-group
					.form-fields
						input#professional_yes(checked='checked', name='licensed', type='radio')
						label(for='professional_yes') Yes
					.form-fields
						input#professional_no(name='licensed', type='radio')
						label(for='professional_no') No
					a#help_form_pro.help.icon.lz-icon-help.orange.small.desc
						| How did most people answer this question?
				h3 Would like to form a Professional Corporation?
				p
					| Currently, we do not support professional LLCs in [STATE]. Many licensed professionals in [STATE] form a different type of business such as a professional corporation.
				p To begin forming a professional corporation, click the button below.
				a.button.flex.has-right(href='#')
					span.button-right
						i.icon.button-icon.arrow
					span.button-center Get started on a professional corporation
				br
				br
				br
				
				hr.top-space
				
				// page navigation 
				ul.page-nav
					li
						a.link-back(href='qaire-03.html')
							i.icon.lz-icon-blue.arrow-back
							span Back
					li
						// orange button with icon on right 
						a.button.orange.flex.has-right(href='qaire-05.html')
							span.button-right
								span.inner
									i.icon.button-icon.arrow-large
							span.button-center Save & continue
				.clear
				br
				br
			
			// sidebar 
			.content-sidebar
				.qaire-sidebar
					.customer-service
					blockquote
						.open &#8220;
						p.quote
							| LegalZoom made it quick and real easy to start my small business, thank you!
							span.close  &#8221;
						.from - Martin's Tinted Touch LLC.
			.clear
		
		// site footer 
		.footer
			.divider
			p.legal © LegalZoom.com, Inc. All rights reserved.
			p.legal
				| Disclaimer: Communications between you and LegalZoom are protected by our 
				a(href='#') Privacy Policy
				| but not by the attorney-client privilege or as work product. LegalZoom provides access to independent attorneys and self-help services at your specific direction. We are not a law firm or a substitute for an attorney or law firm. We cannot provide any kind of advice, explanation, opinion, or recommendation about possible legal rights, remedies, defenses, options, selection of forms or strategies. Your access to the website is subject to our 
				a(href='#') Terms of Use
				| . LegalZoom.com, Inc., 101 N Brand Blvd, 11th Floor, Glendale, CA 91203 is a registered and bonded legal document assistant, #0104, Los Angeles County (exp. 12/13).
		
		// tooltip container 
		.tooltip-container
			#help_form_pro_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Our customers answered...
				p
					| Yes - 94%
					br
					| No - 6%
				p Based on a sample of more than 40,000 LLC customers in 2013.
		
		// modals 
		.modal
			.container
				a.close
				.shadow
				//[lf lte IE 8]
					img.shadow-ie8(src='images/shadow-curved-photo-md.png')
				.overlay
				.content

		.modal-overlay
