doctype html
html
	head
		meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
		meta(content='IE=Edge', http-equiv='X-UA-Compatible')
		meta(content='chrome=1', http-equiv='X-UA-compatible')
		title Legalzoom
		link(href='css/html5-doctor-reset-stylesheet.min.css', rel='stylesheet', type='text/css')
		link(href='css/font-awesome.css', rel='stylesheet', type='text/css')
		link(href='css/qaire.css', rel='stylesheet', type='text/css')
		script(src='js/modernizr-2.6.2.js', type='text/javascript')
		script(src='js/jquery-1.10.1.min.js', type='text/javascript')
		script(src='js/app.min.js', type='text/javascript')
		script(src='js/qaire.min.js', type='text/javascript')
		//if lte IE 8
			link(href='css/ie8.css', rel='stylesheet', type='text/css')
		//if lte IE 9
			link(href='css/ie9.css', rel='stylesheet', type='text/css')
	body
		// 960px site container 
		.site-container
			
			// header and logo for questionnaire 
			.qaire-header
				a.lz-logo(href='#') LegalZoom
				h1 Creating Your LLC
			
			// steps nav 
			ul.steps-solid
				li.active
					a
						span.link About your business
						span.arrow
				li.inactive
					a
						span.link Name & address
						span.arrow
				li.inactive
					a
						span.link Owners & Mgmt
						span.arrow
				li.inactive
					a
						span.link Tax setup
						span.arrow
				li.inactive
					a
						span.link Business setup
						span.arrow
				li.inactive.last
					a
						span.link Place order
						span.arrow
			.clear
			
			// main content 
			.content-main
				h1 What will your business be doing?
				p
					| Your answer helps us personalize your legal documents. If you don’t see your activity, or have multiple activities, you can select “Other” and type it in.
				.form-group
					.columns
						.form-fields
							input#accomodations(name='business_type', type='radio')
							label(for='accomodations') Accomodations
							a#business_type1.help.icon.lz-icon-help.small.gray
						.form-fields
							input#constructions(name='business_type', type='radio')
							label(for='constructions') Constructions
							a#business_type2.help.icon.lz-icon-help.small.gray
						.form-fields
							input#consulting(name='business_type', type='radio')
							label(for='consulting') Consulting
							a#business_type3.help.icon.lz-icon-help.small.gray
						.form-fields
							input#finance(name='business_type', type='radio')
							label(for='finance') Finance
							a#business_type4.help.icon.lz-icon-help.small.gray
						.form-fields
							input#food_service(name='business_type', type='radio')
							label(for='food_service') Food service
							a#business_type5.help.icon.lz-icon-help.small.gray
						.form-fields
							input#health_care(name='business_type', type='radio')
							label(for='health_care') Health care
							a#business_type6.help.icon.lz-icon-help.small.gray
						.form-fields
							input#insurance(name='business_type', type='radio')
							label(for='insurance') Insurance
							a#business_type7.help.icon.lz-icon-help.small.gray
						.form-fields
							input#manufacturing(name='business_type', type='radio')
							label(for='manufacturing') Manufacturing
							a#business_type8.help.icon.lz-icon-help.small.gray
					.columns
						.form-fields
							input#professional(name='business_type', type='radio')
							label(for='professional') Professional service
							a#business_type9.help.icon.lz-icon-help.small.gray
						.form-fields
							input#real_estate(name='business_type', type='radio')
							label(for='real_estate') Real estate
							a#business_type10.help.icon.lz-icon-help.small.gray
						.form-fields
							input#rental_leasing(name='business_type', type='radio')
							label(for='rental_leasing') Rental & leasing
							a#business_type11.help.icon.lz-icon-help.small.gray
						.form-fields
							input#retail(name='business_type', type='radio')
							label(for='retail') Retail
							a#business_type12.help.icon.lz-icon-help.small.gray
						.form-fields
							input#social_assistance(name='business_type', type='radio')
							label(for='social_assistance') Social Assistance
							a#business_type13.help.icon.lz-icon-help.small.gray
						.form-fields
							input#transportation(name='business_type', type='radio')
							label(for='transportation') Transportation
							a#business_type14.help.icon.lz-icon-help.small.gray
						.form-fields
							input#warehousing(name='business_type', type='radio')
							label(for='warehousing') Warehousing
							a#business_type15.help.icon.lz-icon-help.small.gray
						.form-fields
							input#wholesale(name='business_type', type='radio')
							label(for='wholesale') Wholesale
							a#business_type16.help.icon.lz-icon-help.small.gray
					.clear
					.form-fields
						input#other(checked='checked', name='business_type', type='radio')
						label(for='other') Other
						a#business_type17.help.icon.lz-icon-help.small.gray
					p.tight Please describe what your business will be doing
					.form-fields
						textarea(placeholder='Describe your business activity here', type='text')
				
				hr.top-space
				
				// page navigation 
				ul.page-nav
					li
						a.link-back(href='index.html')
							i.icon.lz-icon-blue.arrow-back
							span Back
					li
						// orange button with icon on right 
						a.button.orange.flex.has-right(href='qaire-03.html')
							span.button-right
								span.inner
									i.icon.button-icon.arrow-large
							span.button-center Save & continue
				.clear
				br
				br
			
			// sidebar 
			.content-sidebar.email
				.email-sidebar
					h3 Your email address (optional)
					p.tight We'll email you a link to your saved answers
					.form-group
						.form-fields
							input(placeholder='you@example.com', type='text')
							a.button.flex.small(href='#')
								span.button-center Submit
						p.sign-in-link
							| Already a member? 
							a(onclick='openModalID(\'signin\');') Sign in here
				.qaire-sidebar
					.customer-service
					blockquote
						.open &#8220;
						p.quote
							| Easy. Efficient. Wonderful experience starting my LLC. Went to the bank today and all my paperwork was ready and professionally presented. Thank you LegalZoom!!!
							span.close  &#8221;
						.from - Christopher W., Phoenixville, PA
			.clear
		
		// site footer 
		.footer
			.divider
			p.legal &copy; LegalZoom.com, Inc. All rights reserved.
			p.legal
				| Disclaimer: Communications between you and LegalZoom are protected by our 
				a(href='#') Privacy Policy
				| but not by the attorney-client privilege or as work product. LegalZoom provides access to independent attorneys and self-help services at your specific direction. We are not a law firm or a substitute for an attorney or law firm. We cannot provide any kind of advice, explanation, opinion, or recommendation about possible legal rights, remedies, defenses, options, selection of forms or strategies. Your access to the website is subject to our 
				a(href='#') Terms of Use
				| . LegalZoom.com, Inc., 101 N Brand Blvd, 11th Floor, Glendale, CA 91203 is a registered and bonded legal document assistant, #0104, Los Angeles County (exp. 12/13).
		
		// tooltip container 
		.tooltip-container
			#business_type1_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Select this option if you are providing customers with lodging.
				p Examples include:
				ul
					li Hotel
					li Motel
					li Bed and Breakfast
			#business_type2_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p
					| Select this option if you are erecting buildings, engineering projects (e.g., streets, highways, bridges, tunnels), or acting as a trade contractors.
				p Examples include:
				ul
					li General contractor
					li Plumbing
					li HVAC
					li Electrical
					li Carpentry
					li Concrete
					li Excavation
					li Etc.
			#business_type3_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Select this option if you work as an advisor to companies or other individuals.
				p Examples include:
				ul
					li Management consulting
					li Information technology consulting
					li Marketing consulting
					li Political consulting
					li Web design
					li Etc.
			#business_type4_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p
					| Select this option if you are engaged in transactions involving the creation or change of ownership of financial assets.
				ul
					li Commodities broker
					li Investment advice
					li Investment club
					li Investment holding
					li Mortgage broker
					li Mortgage company
					li Portfolio management
					li Sales financing
					li Securities broker
					li Trust administration
					li Venture capital company
			#business_type5_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type6_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type7_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type8_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type9_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type10_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type11_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type12_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type13_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type14_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type15_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type16_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
			#business_type17_tooltip.tooltip
				.arrow.left
				.close
					i.icon.icon-tooltip-close
				p Help text for whatever this business type is supposed to be
		
		// modals 
		#signin.modal.text.sign-in-modal
			.container
				a.close
				.shadow
				//[lf lte IE 8]
					img.shadow-ie8(src='images/shadow-curved-photo-md.png')
				.overlay
				.content
					h1 Sign In
					p
						| Save your work by entering your email address below. Your 
						a personal information will remain private
						| .
					h2 New account
					.form-group
						.form-field
							label Email address
							br
							input.short(type='text')
							.error-text
						.form-field
							label Password
							br
							input.shortest(type='password')
							.error-text
						.form-field
							label Confirm password
							br
							input.shortest(type='password')
							.error-text
						a.button.flex.has-right
							span.button-right
								i.icon.button-icon.arrow
							span.button-center New account
						.clear
					h2 Existing account
					.form-group
						.form-field
							label Email address
							br
							input.short(type='text')
							.error-text
						.form-field
							label Password
							br
							input.shortest(type='password')
							.error-text
						a.button.flex.has-right
							span.button-right
								i.icon.button-icon.arrow
							span.button-center Existing account
						.clear
						a.forgot-password-link Forgot your password? Click here
					.forgot-password
						h2 Forgot password
						p.tight
							| Enter your email address below and we will email you instructions on how to reset your password.
						.form-group
							.form-field
								label Email address
								br
								input.short(type='text')
								.error-text
							.form-field
								label Re-enter email address
								br
								input.short(type='text')
								.error-text
							a.button.flex.has-right
								span.button-right
									i.icon.button-icon.arrow
								span.button-center Reset password
							.clear
		.modal-overlay
