.content-image style="width: 840px;"
	img src="images/presto/productBranding/prodshot_printer_01.jpg" alt="prodshot_printer_01" width="840" height="589"

a.expand href='images/presto/productBranding/prodshot_printer_01.jpg' target='_blank'
	span full size 
	.fa.fa-external-link