.content-image style="width: 840px;"
	img src="images/presto/print/brochure_outside.jpg" alt="brochure_outside" width="840" height="414"

a.expand href='images/presto/print/brochure_outside.jpg' target='_blank'
	span full size 
	.fa.fa-external-link