.content-image style='width: 840px'
	img src="/images/legalzoom/5in5_01.jpg" width="840" height="1007"

a.expand href='demo/lz-5in5/' target='_blank'
	span launch demo
	.fa.fa-external-link

.content-description
	p The Legalzoom 5-in-5 project was a test to build a whole new process and platform for Legalzoom. The goal was to be able to do multi-variant tests of the entire product purchase process on a modern platform. The site was built on Rails, and completely responsive from the ground up.