.content-image style='width: 320px'
	img src="images/legalzoom/mobile_01.jpg" width="320" height="536"

a.expand href='demo/legalzoom-mobile/' target='_blank'
	span launch demo
	.fa.fa-external-link

.content-description
	p LegalZoom's mobile site was completely revamped from the ground up. This site was the first time that LegalZoom had incorporated all of its product and services on a mobile plaltform. We chose to launch a mobile site first as a stop gap before going fully responsive in the future.