.content-image style='width: 840px'
	img src="/images/rushcard/billpay_03.jpg" width="840" height="929"

a.expand href='demo/rushcard-billpay/BillPay.html' target='_blank'
	span full size 
	.fa.fa-external-link