.content-image style='width: 640px'
	img src="/images/rushcard/mobile_01.jpg" width="640" height="960"

.content-description
	p The Rushcard mobile app needed to implement a mobile check deposit feature by using a third party service. I redesigned some of the menus and processes based on the current Rushcard mobile app at the time in order to incroproate this new feature.
