.content-image style='width: 640px'
	img src="images/rushcard/mobile_03.jpg" width="640" height="960"

.content-description
	p Check deposit UI. A lot of the UI flow and limitations were defined by the third party service. For example, how long it took to validate the check images, the order by which the images must be added and processed. I did the best I could to create the best UX around the limitations.