.content-image style='width: 640px'
	img src="/images/rushcard/mobile_02.jpg" width="640" height="960"

.content-description
	p The third party service would be incorporated into the app, credential tokens would have to be passed through the back-end. From there the user can see how many check deposit related transactions they have.