.content-image style='width: 840px'
	img src="images/rushcard/mobile_new_01.jpg" width="840" height="1692"

.content-description
	p As part of Rushcard's rebrand and positioning. There was an opportunity for us to completely revamp the mobile app. I did a few initial screens and prototypes of how we can restructure the app. Unfortunately I was laid off from Rushcard before any of this work can start.