.content-image style='width: 840px'
	img src="/images/rushcard/rushcard_01.jpg" width="840" height="944"

a.expand href='demo/rushcard-new/' target='_blank'
	span full size 
	.fa.fa-external-link

.content-description
	 p Similar to the mobile app revamp. We were also planning to do a complete website revamp. Bringing the site up to date with more modern layout. I created the UI framework and code for this revamp. Unfortunately this was also not completed before I left the company.