.content-image style="width: 840px;"
	img src="images/fixya/fixya_nav_01.png" alt="fixya_nav_01" width="840" height="459"

a.expand href='images/fixya/fixya_nav_01.png' target='_blank'
	span full size 
	.fa.fa-external-link