.content-image style="width: 840px;"
	img src="images/fixya/fixya_user_profile_01.png" alt="fixya_user_profile_01" width="840" height="800"

a.expand href='images/fixya/fixya_user_profile_01.png' target='_blank'
	span full size 
	.fa.fa-external-link
