.content-image style="width: 840px;"
	img src="images/fixya/fixya_user_profile_02.png" alt="fixya_user_profile_02" width="840" height="1969"

a.expand href='images/fixya/fixya_user_profile_02.png' target='_blank'
	span full size 
	.fa.fa-external-link
