/*
	layout for legalzoom 5n5 project
*/

@import 'variables';

/* site nav */
.site-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 20;
	.lz-logo {
		display: block;
		position: absolute;
		width: 128px;
		height: 34px;
		top: 18px;
		left: 50%;
		margin-left: -64px;
		background: transparent url(../images/logo-legalzoom.png) no-repeat 0 0;
		@media #{$retina-display} {
			background-image: url(../images/logo-legalzoom-2x.png);
			background-size: 128px 34px;
		}
		@media #{$iphone-portrait}, #{$iphone-landscape} {
			width: 102px;
			height: 28px;
			top: 10px;
			margin-left: -51px;
			background-size: 102px 28px;
			@media #{$retina-display} {
				background-image: url(../images/logo-legalzoom-2x.png);
				background-size: 102px 28px;
			}
		}
		&.white {
			background: transparent url(../images/logo-legalzoom-white.png) no-repeat 0 0;
			@media #{$retina-display} {
				background-image: url(../images/logo-legalzoom-white-2x.png);
				background-size: 128px 34px;
			}
			@media #{$iphone-portrait}, #{$iphone-landscape} {
				width: 102px;
				height: 28px;
				top: 10px;
				margin-left: -51px;
				background-size: 102px 28px;
				@media #{$retina-display} {
					background-image: url(../images/logo-legalzoom-white-2x.png);
					background-size: 102px 28px;
				}
			}
		}
	}
	.menu-open {
		font-size: 24px;
		color: #fff;
		position: absolute;
		top: 14px;
		left: 14px;
	}
}


/* homepage content */

.content-container {
	/* content container for homepage */
	&.home {
		background: transparent url(../images/5n5-home-hero-ipad-landscape.jpg) no-repeat right top;
		width: 100%;
		height: 370px;
		@media #{$ipad-portrait} {
			background: transparent url(../images/5n5-home-hero-ipad-portrait.jpg) no-repeat right -14px;
			height: 334px;
		}
		@media #{$iphone-landscape} {
			background: transparent url(../images/5n5-home-hero-iphone-landscape.jpg) no-repeat right top;
			height: 328px;
			@media #{$retina-display} {
				background-image: url(../images/5n5-home-hero-iphone-landscape-2x.jpg);
				background-size: 600px 328px;
			}
		}
		@media #{$iphone-portrait} {
			background: transparent url(../images/5n5-home-hero-iphone-portrait.jpg) no-repeat right top;
			height: 328px;
			@media #{$retina-display} {
				background-image: url(../images/5n5-home-hero-iphone-portrait-2x.jpg);
				background-size: 565px 328px;
			}
		}
		/* homepage top content */
		.content {
			width: 560px;
			margin-top: -30px;
			@media #{$ipad-portrait} {
				width: 420px;
				margin-left: 20px;
			}
			@media #{$iphone-landscape} {
				width: 330px;
				margin-left: 20px;
				margin-top: -40px;
			}
			@media #{$iphone-portrait}  {
				width: 200px;
				margin-left: 10px;
				margin-top: -40px;
			}
			h1 {
				font-size: 37px;
				font-family: $font-light;
				line-height: 1.1em;
				@media #{$ipad-portrait} {
					font-size: 29px;
				}
				@media #{$iphone-landscape} {
					font-size: 26px;
					margin-bottom: 8px;
				}
				@media #{$iphone-portrait}  {
					font-size: 23px;
				}
			}
			.desc {
				color: $brand-blue;
				font-size: 15px;
				line-height: 1.1em;
				width: 150px;
				float: left;
				@media #{$iphone-landscape}, #{$iphone-portrait}  {
					float: none;
				}
			}
			.module-image {
				margin-left: 150px;
				z-index: 100;
				@media #{$ipad-portrait} {
					width: 222px;
					height: 134px;
				}
				@media #{$iphone-landscape} {
					width: 160px;
					height: 97px;
					margin-left: 0;
					margin-top: -10px;
					img {
						max-width: 160px;
					}
				}
				@media #{$iphone-portrait} {
					width: 125px;
					height: 76px;
					margin-left: 0;
					margin-top: -10px;
					padding: 4px;
					.youtube-thumb {
						width: 125px;
						height: 76px;
					}
				}
			}
		}
		/* top gradient */
		.top-gradient {
			position: aboslute;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100px;
			background: transparent url(../images/5n5-home-hero-ipad-top-gradient.png) repeat-x center top;
		}
		/* bottom corner */
		.bottom-corner {
			@media #{$iphone-landscape}, #{$iphone-portrait} {
				width: 180px;
				height: 100px;
				background-size: 180px;
				height: 100px;
			}
			position: absolute;
			display: block;
			width: 259px;
			height: 188px;
			bottom: 0;
			right: 0;
			z-index: 8;
			background: transparent url(../images/5n5-home-hero-ipad-corner-shadow.png) no-repeat 0 0;
			p {
				color: #fff;
				font-size: 13px;
				position: absolute;
				bottom: 16px;
				right: 16px;
				margin-bottom: 0;
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					font-size: 11px;
					bottom: 12px;
					right: 12px
				}
			}
		}
		/* bottom shadow strip */
		.shadow-strip-inverted {
			display: block;
			width: 100%;
			height: 7px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: transparent url(../images/shadow-strip-inverted.png) no-repeat center;
			background-size: 100% 7px;
		}
	}
}

/* content container for package selection */
.content-container {
	&.package-selection {
		height: 400px;
		border-bottom: 1px solid #dcdcdb;
		border-top: 1px solid #dcdcdb;
		@media #{$iphone-landscape} {
			height: 940px;
		}
		@media #{$iphone-portrait} {
			height: 1090px;
		}
		> .container {
			width: 1024px;
			padding: 0;
			@media #{$ipad-portrait} {
				width: 768px;
			}
			@media #{$iphone-landscape}, #{$iphone-portrait} {
				width: 100%;
			}
		}
	}
}


/* package module layout */

.package {
	width: 340px;
	height: 400px;
	float: left;
	background: #fff;
	@media #{$ipad-portrait} {
		width: 255px;
	}
	@media #{$iphone-landscape}, #{$iphone-portrait} {
		width: 100%;
	}
	/* package header */
	.heading {
		text-align: center;
		padding: 20px 0 0 0;
		width: 100%;
		height: 70px;
		border-bottom: 1px solid #dcdcdb;
		@media #{$iphone-landscape}, #{$iphone-portrait} {
			padding: 12px 0 0 0;
			height: 42px;
			border-bottom: none;
		}
		h2 {
			font-size: 25px;
			color: $brand-indigo;
			margin-bottom: 4px;
			@media #{$iphone-landscape}, #{$iphone-portrait} {
				margin-bottom: 0;
				line-height: 1;
			}
		}
		.desc {
			color: $brand-blue;
			font-size: 13px;
			margin-bottom: 0;
		}
	}
	/* package detail block */
	.detail {
		position: relative;
		@media #{$iphone-landscape} {
			width: 480px;
			margin: 0 auto;
		}
		@media #{$iphone-portrait} {
			width: 320px;
			margin: 0 auto;
		}
		/* list of package attributes */
		.package-detail {
			list-style: none;
			margin: 10px 0 0 0;
			height: 90px;
			@media #{$iphone-landscape}, #{$iphone-portrait} {
				height: auto;
				margin: 10px 0 20px 0;
			}
			li {
				color: $color-text;
				width: 100%;
				text-align: center;
				margin-bottom: 2px;
				.lz-icon-help {
					position: relative;
					top: 4px;
					margin-left: 6px;
				}
				&.highlight {
					color: #ff7800;
					font-weight: bold;
					font-style: italic;
					font-size: 16px;
				}
			}
		}
		/* package price list and select field overwrite */
		.price-detail {
			position: relative;
			ul {
				list-style: none;
				font-size: 12px;
				margin: 0 0 0 54px;
				@media #{$ipad-portrait} {
					margin: 0 0 0 20px;
					height: 100px;
				}
				@media #{$iphone-portrait} {
					margin: 0 0 0 48px;
				}
				li {
					color: $color-text;
					float: left;
					margin-bottom: 8px;
					&.col {
						width: 180px;
						@media #{$ipad-portrait} {
							width: 174px;
						}
					}
					&.price {
						width: 100px;
						text-align: left;
						@media #{$ipad-portrait} {
							width: 50px;
						}
						@media #{$iphone-portrait} {
							width: 84px;
						}
						&.rebate {
							margin-left: -6px;
							color: #a4a4a4;
						}
						.state-fee {
							float: left;
							margin-right: 4px;
						}
						.form-group {
							padding: 0;
							.form-fields {
								margin: 0;
								float: left;
							}
						}
						.select-field.micro {
							top: -10px;
							width: 36px;
							@media #{$ipad-portrait} {
								top: -4px;
							}
							.select-arrow-container {
								width: 12px;
							}
							.select-arrow {
								margin: 7px 0 0 0;
							}
							select {
								width: 66px;
							}
						}
					}
				}
			}

		}
	}
	/* price total */
	.price-total {
		font-family: $font-light;
		font-size: 33px;
		color: #666767;
		margin-bottom: 0;
		text-align: center;
		@media #{$iphone-landscape} {
			position: absolute;
			top: 10px;
			right: 40px;
		}
		@media #{$iphone-portrait} {
			margin-top: -10px;
		}
		sup {
			font-size: 14px;
			position: relative;
			top: -14px;
		}
	}
	.package-disclaimer {
		display: none;
		@media #{$iphone-landscape} {
			display: block;
			span {
				margin-left: 10px;
			}
		}
		@media #{$iphone-portrait} {
			display: block;
			span {
				display: block;
			}
		}
	}
	/* get started block and buttons */
	.get-started {
		text-align: center;
	}
	/* featured package modifications */
	&.featured {
		background: #fffdf2;
		box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3);
		height: 410px;
		border: none;
		.heading {
			background: #ffd700;
			height: 75px;
			@media #{$iphone-landscape}, #{$iphone-portrait} {
				height: 58px;
			}
			h2 {
				font-size: 27px;
				font-weight: bold;
				font-style: italic;
				margin-bottom: 0;
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					font-size: 24px;
				}
			}
			.desc {
				font-size: 15px;
				font-weight: bold;
			}
		}
	}
	&.secondary {
		.heading {
			.desc {
				font-weight: bold;
				font-style: italic;
			}
		}
	}
	/* package positioning */
	&.bronze {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		border-left: 1px solid #dcdcdb;
		@media #{$iphone-landscape} {
			top: 660px;
			left: 0;
			border-left: none;
			border-bottom: 1px solid #dcdcdb;
			height: 280px;
		}
		@media #{$iphone-portrait} {
			top: 760px;
			left: 0;
			border-left: none;
			border-bottom: 1px solid #dcdcdb;
			height: 330px;
		}
	}
	&.silver {
		position: absolute;
		top: -5px;
		left: 340px;
		z-index: 10;
		@media #{$ipad-portrait} {
			left: 255px;
		}
		@media #{$iphone-landscape} {
			top: 0;
			left: 0;
			height: 320px;
		}
		@media #{$iphone-portrait} {
			top: 0;
			left: 0;
			height: 370px;
		}
	}
	&.gold {
		position: absolute;
		top: 0;
		left: 680px;
		z-index: 5;
		border-right: 1px solid #dcdcdb;
		@media #{$ipad-portrait} {
			left: 512px;
		}
		@media #{$iphone-landscape}, #{$iphone-portrait} {
			top: 328px;
			left: 0;
			border-right: none;
			border-bottom: 1px solid #dcdcdb;
			height: 330px;
		}
		@media #{$iphone-portrait} {
			top: 378px;
			left: 0;
			border-right: none;
			border-bottom: 1px solid #dcdcdb;
			height: 380px;
		}
	}
}

/* single line disclaimer text */
.package-disclaimer {
	text-align: center;
	font-size: 10px;
	color: #676767;
	padding-top: 10px;
	@media #{$iphone-landscape}, #{$iphone-portrait} {
		display: none;
	}
}


/* questions container */
.content-container {
	&.questions {
		h2 {
			font-family: $font-light;
			font-size: 30px;
			color: $brand-indigo;
			margin-bottom: 16px;
			@media #{$iphone-landscape} {
				font-size: 26px;
			}
			@media #{$iphone-portrait} {
				font-size: 20px;
			}
		}
		.content-main {
			margin-top: 10px;
			margin-bottom: 10px;
			width: 520px;
			padding-right: 40px;
			float: left;
			@media #{$ipad-portrait} {
				width: 410px;
				padding: 0 24px 20px 34px;
			}
			@media #{$iphone-landscape} {
				float: none;
				width: 440px;
				padding: 0 10px 0 10px;
			}
			@media #{$iphone-portrait} {
				float: none;
				width: 280px;
				padding: 0 10px 0 10px;
			}
			.faqs {
				list-style: none;
				margin: 0;
				li {
					margin-bottom: 16px;
					@media #{$iphone-portrait} {
						font-size: 13px;
					}
					ul {
						display: none;
						opacity: 0;
						list-style: none;
						margin: 10px 0 0 10px;
						li {
							color: $brand-dark-gray;
							p {
								font-size: 13px;
							}
						}
					}
				}
				&.more {
					display: none;
					opacity: 0;
				}
			}
			.small {
				font-size: 12px;
			}
		}
		.content-sidebar {
			float: left;
			padding-bottom: 18px;
			@media #{$iphone-landscape} {
				float: none;
				margin: 0 auto;
				margin-top: 20px;
				width: 360px;
			}
			@media #{$iphone-portrait} {
				float: none;
				margin: 0 auto;
				margin-top: 20px;
				width: 274px;
			}
			.link-video {
				position: relative;
				top: -8px;
				display: block;
				@media #{$ipad-portrait} {
					width: 230px;
				}
				@media #{$iphone-portrait} {
					font-size: 13px;
					top: 0;
				}
			}
			.module-image.video {
				@media #{$ipad-portrait} {
					width: 234px;
					height: 141px;
					img {
						max-width: 234px;
					}
				}
				@media #{$iphone-portrait} {
					width: 268px;
					height: 162px;
				}
				@media #{$iphone-landscape} {
					width: 330px;
					height: 199px;
				}
			}
		}
	}
}

/* what people are saying */
.content-container {
	&.swipe-quotes {
		> .container {
			width: 100%;
			padding: 10px 0 10px 0;
		}
		h2 {
			font-size: 17px;
			color: $brand-indigo;
			text-align: center;
			margin: 30px 0 20px 0;
			@media #{$iphone-landscape} {
				font-size: 14px;
				margin-top: 24px;
			}
			@media #{$iphone-portrait} {
				font-size: 13px;
				margin: 16px 0 18px 0;
			}
		}
		.swipe {
			width: 100%;
			overflow: hidden;
		}
		.swipe-wrap {
			width: 100%;
			height: 200px;
			overflow: hidden;
			@media #{$ipad-portrait} {
				height: 160px;
			}
			@media #{$iphone-landscape} {
				height: 130px;
			}
			@media #{$iphone-portrait} {
				height: 120px;
			}
		}
		.slide-control {
			.arrow {
				width: 22px;
				height: 63px;
				display: block;
				overflow: hidden;
				text-indent: 100%;
				z-index: 20;
				background: transparent url(../images/sprite-5n5-home-swipe-arrows.png) no-repeat 0 0;
				@media #{$iphone-portrait} {
					width: 11px;
					height: 31px;
					background-size: 11px 200px;
				}
				&.previous {
					background-position: 0 0;
					position: absolute;
					left: 30px;
					top: 100px;
					@media #{$iphone-landscape} {
						top: 80px;
					}
					@media #{$iphone-portrait} {
						left: 10px;
						top: 80px;
					}
					.no-touch &:hover {
						background-position: 0 -100px;
						@media #{$iphone-portrait} {
							background-position: 0 -50px;
						}
					}
				}
				&.next {
					background-position: 0 -200px;
					position: absolute;
					right: 30px;
					top: 100px;
					@media #{$iphone-landscape} {
						top: 80px;
					}
					@media #{$iphone-portrait} {
						right: 10px;
						top: 80px;
						background-position: 0 -100px;
					}
					.no-touch &:hover {
						background-position: 0 -300px;
						@media #{$iphone-portrait} {
							background-position: 0 -150px;
						}
					}
				}
			}
		}
		.slides {
			width: 100%;
			position: relative;
			float: left;
			display: block;
			.content {
				width: 780px;
				margin: 0 auto;
				position: relative;
				font-size: 30px;
				color: $brand-indigo;
				font-family: $font-light;
				@media #{$ipad-portrait} {
					width: 560px;
				}
				@media #{$iphone-landscape} {
					width: 320px;
				}
				@media #{$iphone-portrait} {
					width: 240px;
				}
				blockquote {
					width: 100%;
					@media #{$iphone-landscape} {
						margin-left: 12px;
					}
					@media #{$iphone-portrait} {
						margin-left: 10px;
					}
					.open, .close {
						font-size: 38px;
						@media #{$iphone-landscape} {
							font-size: 24px;
						}
						@media #{$iphone-portrait} {
							font-size: 22px;
						}
					}
					.open {
						top: 0;
						@media #{$iphone-landscape} {
							left: -12px;
						}
						@media #{$iphone-portrait} {
							left: -10px;
						}
					}
					.close {
						height: 30px;
						@media #{$ipad-portrait} {
							height: 20px;
							top: -10px;
							position: relative;
						}
						@media #{$iphone-landscape} {
							height: 12px;
							position: relative;
							top: -4px;
						}
						@media #{$iphone-portrait} {
							height: 12px;
							position: relative;
							top: -2px;
						}
					}
					.quote {
						font-size: 30px;
						color: $brand-indigo;
						@media #{$ipad-portrait} {
							font-size: 22px;
						}
						@media #{$iphone-landscape} {
							font-size: 14px;
						}
						@media #{$iphone-portrait} {
							font-size: 12px;
						}
						strong {
							font-family: $font-sans-serif;
						}
					}
					.from {
						text-align: right;
						font-size: 18px;
						margin: 20px 10px 0 0;
						color: $brand-dark-gray;
						@media #{$iphone-landscape}, #{$iphone-portrait} {
							font-size: 12px;
						}
					}
				}
				.from-huffpost {
					width: 250px;
					height: 16px;
					overflow: none;
					position: absolute;
					right: 10px;
					bottom: -40px;
					background: transparent url(../images/5n5-home-swipe-logo-huffpost.png) no-repeat 0 0;
					@media #{$iphone-landscape}, #{$iphone-portrait} {
						width: 160px;
						height: 10px;
						background-size: 160px 10px;
					}
				}
				.twitter-persona {
					position: absolute;
					right: 20px;
					bottom: -40px;
					height: 50px;
					@media #{$iphone-landscape}, #{$iphone-portrait} {
						bottom: -60px;
					}
					.avatar {
						display: inline-block;
						float: left;
						width: 50px;
						height: 50px;
						&.steve-strauss {
							background: transparent url(../images/5n5-home-quotes-twitter-avatar-steve-strauss.png) no-repeat 0 0;
						}
						@media #{$iphone-landscape}, #{$iphone-portrait} {
							width: 30px;
							height: 30px;
							&.steve-strauss {
								background-size: 30px 30px;
							}
						}
					}
					.name {
						font-size: 15px;
						padding: 15px 0 0 58px;
						color: $brand-dark-gray;
						@media #{$iphone-landscape}, #{$iphone-portrait} {
							padding: 9px 0 0 36px;
							font-size: 12px;
						}
					}
				}
			}
			&.huffpost {
				.content {
					width: 640px;
					@media #{$ipad-portrait} {
						width: 540px;
					}
					@media #{$iphone-landscape} {
						width: 320px;
					}
					@media #{$iphone-portrait} {
						width: 250px;
					}
				}
			}
			&.wrightway {
				.content {
					width: 700px;
					@media #{$ipad-portrait} {
						width: 560px;
					}
					@media #{$iphone-landscape} {
						width: 320px;
					}
					@media #{$iphone-portrait} {
						width: 250px;
					}
					.col-small {
						float: left;
						width: 220px;
						@media #{$iphone-landscape} {
							width: 130px;
						}
						@media #{$iphone-portrait} {
							width: 100px;
						}
						.module-image.small {
							width: 200px;
							height: 121px;
							img {
								max-width: 200px;
							}
							@media #{$iphone-landscape} {
								width: 120px;
								height: 73px;
							}
							@media #{$iphone-portrait} {
								width: 94px;
								height: 57px;
								padding: 4px;
								margin-top: 8px;
							}
						}
					}
					.col-large {
						margin: 0 0 0 230px;
						padding-top: 10px;
						line-height: 1.3;
						@media #{$ipad-portrait} {
							font-size: 22px;
						}
						@media #{$iphone-landscape} {
							font-size: 14px;
							margin: 0 0 0 150px;
						}
						@media #{$iphone-portrait} {
							font-size: 12px;
							margin: 0 0 0 110px;
						}
					}
				}
			}
			&.nine-out-of-ten {
				.content {
					.col-small {
						width: 170px;
						float: left;
						@media #{$iphone-landscape} {
							width: 80px;
						}
						@media #{$iphone-portrait} {
							width: 60px;
						}
						@media #{$iphone-portrait} {
							width: 64px;
						}
					}
					.people {
						width: 154px;
						height: 88px;
						display: block;
						overflow: hidden;
						background: transparent url(../images/5n5-home-swipe-people.png) no-repeat 0 0;
						@media #{$iphone-landscape} {
							width: 77px;
							height: 44px;
							background-size: 77px 44px;
						}
						@media #{$iphone-portrait} {
							width: 64px;
							height: 37px;
							background-size: 64px 37px;
						}
					}
					.col-large {
						margin-left: 170px;
						line-height: 1.3;
						@media #{$ipad-portrait} {
							font-size: 22px;
						}
						@media #{$iphone-landscape} {
							font-size: 16px;
							margin-left: 90px;
						}
						@media #{$iphone-portrait} {
							font-size: 12px;
							margin-left: 80px;
						}
						strong {
							font-family: $font-sans-serif;
						}
						.disclaimer {
							font-size: 11px;
							font-family: $font-sans-serif;
							color: $brand-dark-gray;
							margin-top: 40px;
							@media #{$ipad-portrait} {
								margin-top: 30px;
								margin-left: -170px;
							}
							@media #{$iphone-landscape} {
								font-size: 9px;
								margin-left: -90px;
								margin-top: 20px;
							}
							@media #{$iphone-portrait} {
								font-size: 9px;
								margin-left: -70px;
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
	}
}


/* site footer */
.content-container {
	&.site-footer {
		border-top: 1px solid #dcdcdb;
		> .container {
			padding: 20px 0 20px 0;
		}
		.social {
			font-size: 28px;
			ul {
				margin: 0 0 0 -4px;
			}
			li {
				float: left;
				margin: 0;
			}
			.icon-facebook-sign {
				color: #3b5998;
				.no-touch &:hover {
					color: #4062ab;
				}
			}
			.icon-twitter-sign {
				color: #00aced;
				.no-touch &:hover {
					color: #00b4f8;
				}
			}
			.icon-linkedin-sign {
				color: #007bb6;
				.no-touch &:hover {
					color: #008ace;
				}
			}
			.icon-google-plus-sign {
				color: #d54431;
				.no-touch &:hover, &:active {
					color: #e34835;
				}
			}
		}
		.legal {
			ul {
				margin: 10px 0 10px 0;
			}
			li {
				font-size: 11px;
				float: left;
				padding: 0 8px 0 8px;
				&:first-child {
					border-right: 1px solid $brand-dark-gray;
					padding: 0 8px 0 0;
				}
			}
		}
		.disclaimer {
			font-size: 11px;
			margin: 10px 0 30px 0;
		}
		.logo-bbb {
			display: block;
			overflow: hidden;
			width: 106px;
			height: 51px;
			background: transparent url(../images/logo-bbb.png) no-repeat 0 0;
			position: absolute;
			top: 20px;
			right: 20px;
			@media #{$retina-display} {
				background-image: url(../images/logo-bbb-2x.png);
				background-size: 106px 51px;
			}
		}
	}
}


/* modals */

.modal {
	.content {
		.content-image {
			float: right;
			width: 200px;
			margin: 6px 0 0 20px;
			display: block;
			@media #{$iphone-landscape}, #{$iphone-portrait} {
				width: 100px;
				margin: 0 0 6px 6px;
			}
			.image {
				width: 200px;
				height: 200px;
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					width: 100px;
					height: 100px;
				}
				&.deluxe-llc-kit {
					background: transparent url(../images/5n5-modal-business-starter.jpg) no-repeat 0 0;
					@media #{$iphone-landscape}, #{$iphone-portrait} {
						background-size: 100px 100px;
					}
				}
				&.expedited-processing {
					background: transparent url(../images/5n5-modal-expedited-processing.jpg) no-repeat 0 0;
					@media #{$iphone-landscape}, #{$iphone-portrait} {
						background-size: 100px 100px;
					}
				}
			}
			.desc {
				font-size: 13px;
				text-align: center;
				padding: 6px 0 6px 0;
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					display: none;
				}
			}
		}
	}
}

/* home tooltip for not having state selected */

.state-not-selected {
	background: #fff;
	display: none;
	border-radius: 12px;
	position: absolute;
	border: 1px solid #ddd;
	height: 0;
	width: 0;
	overflow: hidden;
	font-size: 12px;
	font-family: $font-sans-serif;
	line-height: 1.3;
	z-index: 50;
	box-shadow: 0 1px 0 rgba(0,0,0,0.3);
	.container {
		overflow: auto;
	}
	&.narrow {
		&.active {
			width: 180px;
		}
		.arrow.down {
			left: 194px;
		}
	}
	&.active{
		display: block;
		width: 260px;
		height: auto;
		overflow: visible;
		padding: 14px 24px 14px 14px;
	}
	.csstransitions & {
		display: block;
		opacity: 0;
		-webkit-transition-property: opacity, margin;
		-webkit-transition-duration: 300ms;
		-moz-transition-property: opacity, margin;
		-moz-transition-duration: 300ms;
		-ms-transition-property: opacity, margin;
		-ms-transition-duration: 300ms;
		-o-transition-property: opacity, margin;
		-o-transition-duration: 300ms;
		transition-property: opacity, margin;
		transition-duration: 300ms;

		&.active {
			opacity: 1.0;
			margin: 2px 0 0 0;

		}
	}
	&.wide {
		&.active {
			width: 360px;
		}
	}
	.close {
		display: block;
		position: absolute;
		width: 31px;
		height: 31px;
		background: transparent url(../images/sprite-modal-close.png) no-repeat 0 0;
		z-index: 10;
		top: -12px;
		right: -12px;
		@media #{$retina-display} {
			background-image: url(../images/sprite-modal-close-2x.png);
			background-size: 31px 100px;
		}
		.no-touch &:hover {
			background-position: 0 -50px;
		}
	}
	.arrow {
		position: absolute;
		display: block;
		background: transparent url(../images/sprite-tooltip.png) no-repeat 0 0;
		overflow: hidden;
		@media #{$retina-display} {
			background-image: url(../images/sprite-tooltip-2x.png);
			background-size: 33px 200px;
		}
		&.left {
			width: 10px;
			height: 20px;
			top: 50%;
			left: -10px;
			margin-top: -10px;
			background-position: 0 0;
		}
		&.right {
			width: 10px;
			height: 20px;
			top: 50%;
			right: -10px;
			margin-top: -10px;
			background-position: 0 -50px;
		}
		&.up {
			width: 20px;
			height: 10px;
			top: -10px;
			left: 50%;
			margin-left: -10px;
			background-position: 0 -100px;
		}
		&.down {
			width: 20px;
			height: 10px;
			bottom: -10px;
			left: 50%;
			margin-left: -10px;
			background-position: 0 -150px;
		}
	}
	p {
		font-size: 12px;
		margin: 0 0 1em 0;
		line-height: 1.3;
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul {
		margin-bottom: 1em;
		li {
			font-size: 12px;
		}
	}
	a {
		color: #fff;
		.no-touch &:hover {
			color: #fff;
		}
	}
	h2 {
		margin-bottom: 0.5em;
	}
}
