@import 'variables';

#forgotPassword {
	display: none;
}

.bgSignin {
	background-image: url('../images/bg_signin_portrait-2x.jpg');
	background-repeat: no-repeat;
	background-size: 100% 235px;
}

.bgAccount {
	background-image: url('../images/backgrounds/bg_account_portrait2-2x.jpg');
	background-repeat: no-repeat;
	background-size: 100% 241px;
}

@media (min-width: 480px) {
	.bgAccount {
		background-image: url('../images/backgrounds/bg_account_landscape2-2x.jpg');
		background-size: 100% 305px;
	}
}

.signinButton {
	width:200px;
	float:right;
}

.formError {
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #fcdcdc;
	padding: 15px;
	font-size:13px;
	color:#222222;
	font-family: $font-medium;
	ul {
		list-style: none;
		margin-bottom: 0;
		margin-left:10px;
		margin-top:9px;
	}
	li {
		font-family: $font-light;
		font-size:12px;
		color:#222222;
		position: relative;
		&:before {
			content: "•";
			position: absolute;
			left: -8px;
		}
	}
}

.formHeader {
	color: #281360;
	font-family: "psRegular", Helvetica, Arial, sans-serif;
}

input[type=radio] + label {
	font-family: "psRegular", Helvetica, Arial, sans-serif;
	font-size:13px;
	color:#222222;
}

.haveAccount {
	font-size: 13px;
	color:#247bd4;
}

input[type=text].error, input[type=password].error,input[type=email].error, textarea.error {
	box-shadow: 0 0 0 4px rgba(255, 149, 149, 1);
}

label.error {
	color: #ff5252;
}

.viistFullWebsite {
	height: 53px;
	width:100%;
	display: table;
	background: rgb(37,20,91);
	background: -moz-linear-gradient(top,  rgba(37,20,91,1) 0%, rgba(71,133,201,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,20,91,1)), color-stop(100%,rgba(71,133,201,1)));
	background: -webkit-linear-gradient(top,  rgba(37,20,91,1) 0%,rgba(71,133,201,1) 100%);
	background: -o-linear-gradient(top,  rgba(37,20,91,1) 0%,rgba(71,133,201,1) 100%);
	background: -ms-linear-gradient(top,  rgba(37,20,91,1) 0%,rgba(71,133,201,1) 100%);
	background: linear-gradient(to bottom,  rgba(37,20,91,1) 0%,rgba(71,133,201,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25145b', endColorstr='#4785c9',GradientType=0 );
	p {
		display: table-cell;
		vertical-align: middle;
		font-size: 12px;
		color: white;
		padding-left: 21px;
		padding-right: 40px;
	}
	&.full-width {
		> .container {
			padding: 14px;
		}
		p {
			display: block;
			padding: 0;
		}
	}
}

.visitfullWebsiteIcon {
	background-image: url('../images/bg_full_web-2x.png');
	background-size: 32px 26px;
	width:32px;
	height: 26px;
	top:13px;
	right:20px;
	float: right;
	position:relative;
}

.infoHeader {
	padding: 0;
	margin: 0;
	font-family: "psRegular", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color:#281360;
	padding-bottom: 6px;
	padding-top: 6px;
}

.infoText {
	font-family: $font-light;
	font-size: 15px;
	color:#281360;
}

.getAppHolder {
	padding-left: 20px;
	background-image: url('../images/bg_top_shadow-2x.jpg');
	background-repeat: no-repeat;
	background-size: 100% 29px;
	background-position: right top;
}

.messagesBadge {
	vertical-align:top;
}

.messagesButton {
	display:inline-block;margin-top:3px;margin-left:4px;
}

.getApp {
	padding: 26px 0 20px 93px;
	min-height: 145px;
	background-image: url('../images/bg_phone-2x.jpg');
	background-repeat: no-repeat;
	background-size: 72px 141px;
	background-position: left 26px;
	h3 {
		font-family: $font-light;
		font-size: 20px;
		color:#281360;
		padding-right: 20px;
	}
	p {
		font-family: $font-light;
		font-size: 12px;
		color:black;
		padding-right: 20px;
	}
}

.accountNav {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		border-top: 1px solid #dcdcdb;	
	}
	li {
		margin: 0;
		height:60px;
		line-height: 60px;
		border-bottom: 1px solid #dcdcdb;
		a {
			font-size:17px;
			color: #281360;
			padding-left: 53px;
			font-family: $font-light;
			display: block;		
		}
	}
}


.openOrderIcon {
	background-image: url('../images/icons/icon_open_orders-2x.gif');
	background-size: 17px 26px;
	background-position: 20px center;
	background-repeat: no-repeat;
}

.completedOrderIcon {
	background-image: url('../images/icon_completed_orders-2x.gif');
	background-size: 21px 20px;
	background-position: 20px center;
	background-repeat: no-repeat;
}

.appStoreButton {
	width:90px;
	height:27px;
	background-image: url('../images/but_appstore-2x.jpg');
	background-repeat: no-repeat;
	background-size: 90px 27px;
	display: inline-block;
	vertical-align: middle;
}

.signout-link {
	font-family: $font-light;
	font-size: 12px;
	margin-bottom: 0;
	height: 20px;
	display: block;
	padding: 10px 23px 0 23px;
	a {
		float: right;
	}
}

.accountName {
	font-family: $font-light;
	font-size: 19px;
	padding-left: 23px;
	padding-top: 2px;
	padding-bottom: 1px;
	color:#281360;
}

.acountTopNav {
	height:47px;
	vertical-align: middle;
	position:relative;
	padding-left: 23px;
	a {
		font-family: $font-light;
		font-size: 13px;
		color: #281360;
	}
}

.accountInfo {
	position: relative;
	padding-left: 20px;
}

.continueButton {
	float:left;
	padding-right:20px;
}

.cancelButton {
	float:left;
	height:26px;
	line-height:26px;
	color:#777777;
	font-size: 11px;
	font-family: "psRegular", Helvetica, Arial, sans-serif;
}

/* open and completed orders styles */
.orders {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		padding: 18px 22px 18px 22px;
		color:#777777;
		font-size: 11px;
		border-bottom: 1px solid #dcdcdb;
		.description {
			font-family: "psRegular", Helvetica, Arial, sans-serif;
		}
		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	.orderIcon {
		float: right;
		width: 35px;
		height: 35px;
	}
	p {
		font-size: 12px;
		font-family: $font-sans-serif;	
	}
	h3 {
		font-family: $font-light;
		font-size: 19px;
		margin: 0;
		padding: 0;
	}
	h4 {
		font-family: $font-sans-serif;
		font-size: 14px;
		margin: 0;
		padding: 0;
		color: $brand-indigo;
	}
	.order-number {
		font-family: $font-medium;
		color: $brand-dark-gray;
	}
	.order-detail {
		font-family: $font-light;
		margin-bottom: 10px;
		p {
			font-family: $font-light;
			margin-bottom: 0;
			&.order-number, &.purchased-date {
				span {
					color: #2a2a2a;
					font-family: $font-sans-serif;
				}
			}
			&.delivery-date, &.status-current {
				span {
					color: $brand-blue;
					font-family: $font-sans-serif;
				}
				&.delayed, &.expired, &.cancelled {
					span {
						color: #fe2b2b;
					}
				}
				&.inactive {
					span {
						color: $brand-orange;
					}
				}
			}
		}
	}
	.status {
		font-weight: bold;
		font-size: 14px;
		color: $brand-indigo;
		margin-bottom: 8px;
		span {
			color: $brand-blue;
		}
		&.action-required {
			span {
				color: #fe2b2b;
			}
		}
	}
	.action-list {
		list-style: none;
		margin: 0 0 16px 0;
		padding: 0;
		border-left: 2px solid $brand-blue;
		li {
			margin: 0 0 0 14px;
			padding: 10px 0 10px 0;
			border-bottom: none;
			border-top: 1px solid $color-border-gray;
			&:last-child {
				padding-bottom: 0;
			}
			h4 {
				font-size: 12px;
				margin-bottom: 3px;
			}
			p {
				margin-bottom: 6px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.status {
				font-size: 12px;
				margin-bottom: 0;
			}
		}
	}
	.action-button {
		float: right;
	}
	&.completed {
		li {
			padding: 8px 22px 6px 22px;
		}
		h4 {
			font-size: 12px;
			span {
				color: $brand-blue;
			}
		}
		p {
			&.purchased-date {
				float: left;
			}
			&.order-number {
				float: left;
				width: 140px;
			}
		}
	}
}


.orderIconTicked {
	background-image: url('../images/icon_order_checked-2x.gif');
	background-size: 31px 27px;
	background-position: right top;
	background-repeat: no-repeat;
}

.orderIconAction {
	background-image: url('../images/icon_order_action-2x.gif');
	background-size: 31px 27px;
	background-position: right top;
	background-repeat: no-repeat;
}

.acountTopNavInner {
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	padding-left: 23px;
}


/* additional styles imported from previous drupal account.css */
form {
	.fullMobile, .form-fields.select {
		margin-bottom: 10px;
	}
}

#mobile-form-error {
	.error {
		color: #444;
	}
}

.error {
	background: none;
	box-shadow: 0 0 0 4px #ff9595;
}