/*
	image module - standard image frame modules
	imported from module-image.scss
*/

@import 'variables';

.module-image {
	position: relative;
	width: 354px;
	padding: 0;
	margin: 0 10px 20px 0;
	.container {
		overflow: hidden;
		img {display: block;}
	}
	.shadow {
		display: block;
		width: 100%;
		height: 10px;
		position: absolute;
		bottom: -10px;
		left: 0;
		background: transparent url(../images/shadow-curved-photo-md.png) no-repeat center top;
		background-size: 100% 10px;
	}
	.shadow-ie8 {
		display: block;
		width: 100%;
		height: 10px;
		position: absolute;
		bottom: -10px;
		left: 0;
	}
	&.framed {
		width: 338px;
		padding: 8px;
		background: #f7f7f7;
	}
	&.small {
			width: 240px;
			&.framed {
				width: 224px;
				padding: 8px;
				background: #f7f7f7;
			}
	}
	
	&.mobile {
		width:176px;
		&.framed {
			width: 176px;
			padding: 4px;
			background: #f7f7f7;
		}
	}
	
	
	.button-play {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -45px 0 0 -45px;
		&.small {
			margin: -31px 0 0 -31px;
		}
	}
	/* for youtube video thumbnail display only */
	&.video {
		.container {
			width: 100%;
			height: 100%;
			.youtube-thumb {
				display: none;
			}
			@media #{$iphone-portrait},
			#{$iphone-landscape} {
				.youtube-thumb {
					display: block;
					height: 100%;
					width: 100%;
					position: relative;
				}
				img {
					display: none;
				}
				.button-play {
					display: none;
				}
			}
		}
	}
}

.module-marquee {
	position: relative;
	height: 360px;
	width: 960px;
	margin-bottom: 10px;
	.module-image {
		position: absolute;
		background: #f7f7f7;
		&.main {
			width: 940px;
			padding: 8px;
			top: 0;
			left: 0;			
		}
		&.support {
			width: 250px;
			padding: 8px;
			right: 20px;
			bottom: -40px;
		}
	}
}