.content-image style="width: 700px;"
	img src="images/shopsy/email/email_02.jpg" alt="email_02" width="700" height="1226"

.content-description
	p New welcome email to introduce the users to more features when they sign up. 