.content-image style="width: 700px;"
	img src="images/shopsy/email/email_03.jpg" alt="email_03" width="700" height="1400"

.content-description
	p Emails that can recommend outfits to users as a starting point to further engage with the site.