.content-image style="width: 700px;"
	img src="images/shopsy/email/email_01.jpg" alt="email_01" width="700" height="1158"

.content-description
 p Examples of some of the early email campaigns for Shopsy.