.content-image style="width: 820px;"	
	img src="images/shopsy/newdesign/new_05.jpg" alt="new_05" width="820" height="529"

a.expand href='images/shopsy/newdesign/new_05.jpg' target='_blank'
	span full size 
	.fa.fa-external-link