.content-image style="width: 820px;" 
	img src="images/shopsy/olddesign/old_05.png" alt="old_05" width="820" height="666"

a.expand href='images/shopsy/olddesign/old_05.png' target='_blank'
	span full size 
	.fa.fa-external-link

.content-description
	p The Shopsy team.