.content-image style="width: 820px;"
	img src="images/shopsy/newdesign/new_01.jpg" alt="new_01" width="820" height="1013"

a.expand href='images/shopsy/newdesign/new_01.jpg' target='_blank'
	span full size 
	.fa.fa-external-link
