.content-image style="width: 820px;"
	img src="images/shopsy/newdesign/new_04.jpg" alt="new_04" width="820" height="537"

a.expand href='images/shopsy/newdesign/new_04.jpg' target='_blank'
	span full size 
	.fa.fa-external-link

.content-description
	p Taking a more "single page application" type of approach to some of the features. Instead of loading all remixes in a separate page load, loading them via Ajax and a sliding panel would help guide the users, give them a sense of "before and after".