.content-image style="width: 820px;"
  img src="images/shopsy/olddesign/old_03.png" alt="old_03" width="820" height="666"

a.expand href='images/shopsy/olddesign/old_03.png' target='_blank'
	span full size 
	.fa.fa-external-link

.content-description
	p Single outfit view, from here the users can see the details of each of the items in the outfit and purchase them directly from the retailers. They can also lock down items and remix the rest by filters.