.content-image style="width: 840px;"
	img src="images/mokafive/print/business_cards.jpg" alt="business_cards" width="840" height="342"

a.expand href='images/mokafive/print/business_cards.jpg' target='_blank'
	span full size 
	.fa.fa-external-link

