/*
	common CSS properties
	imported from 'common.scss'
*/

@import 'variables';

html {
	width: 100%;
	height: 100%;
}

body {
	background: $color-body-bg;
	color: $color-text;
	font-family: $font-sans-serif;
	font-size: 14px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}

/* site logo */
.lz-logo {
	display: block;
	background: transparent url(../images/logo-legalzoom.png) no-repeat 0 0;
	width: 149px;
	height: 39px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	&.small {
		background: transparent url(../images/logo-legalzoom-small.png) no-repeat 0 0;
		width: 111px;
		height: 29px;
	}
}

/* reusable container properties */

.container {position: relative;}

.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-15 {padding: 15px;}
.padding-20 {padding: 20px;}

.margin-5 {margin: 5px;}
.margin-10 {margin: 10px;}
.margin-15 {margin: 15px;}
.margin-20 {margin: 20px;}

.float-left {float: left;}
.float-right {float: right;}
.clear {clear: both;}

/* icon adjustment */
.icon {
	margin-left: -2px;
	display: inline-block;
	a & {
		text-decoration: none;
	}
}

/* header text styles */
h1 {
	font-size: 30px;
	line-height: 1;
	color: $color-h1;
	margin: 0 0 0.6em 0;
	font-weight: normal;
	&.tight {
		margin-bottom: 0.2em;
	}
}
h2 {
	font-size: 18px;
	line-height: 1.3;
	color: $color-h2;
	margin: 0 0 1em 0;
	font-weight: normal;
	&.tight {
		margin-bottom: 0.2em;
	}
}
h3 {
	font-family: $font-medium;
	font-size: 18px;
	color: $color-h3;
	margin: 0 0 1em 0;
	font-weight: normal;
	&.tight {
		margin-bottom: 0.2em;
		line-height: 1.3;
	}
}
h4 {
	font-family: $font-medium;
	font-size: 14px;
	color: $color-h4;
	margin: 0 0 1.4em 0;
	font-weight: normal;
	&.tight {
		margin-bottom: 0.2em;
	}
}

h5 {
	font-weight: normal;
}

/* paragraph style */
p {
	font-size: 14px;
	line-height: 1.5;
	margin: 0 0 1.2em 0;
	&.tight {
		margin-bottom: 0.4em;
	}
}

/* ordered and unordered lists */
ul {
	margin: 0 0 1.2em 1.7em;
	li {
		font-family: $font-sans-serif;
		color: $color-list-bullet;
		margin: 0 0 0.5em 0;
		line-height: 1.5;
		span {
			color: $color-list-text;
		}
		ul {
			margin: 0.3em 0 0 1.2em;
			li {
				margin: 0 0 0.3em 0;
			}
		}
	}
}

ol {
	margin: 0 0 1.2em 1.7em;
	li {
		font-family: $font-sans-serif;
		color: $brand-blue;
		margin: 0 0 0.5em 0;
		line-height: 1.5;
		span {
			color: $color-list-text;
		}
	}
}

/* expandable lists */
ul {
	&.expandable {
		list-style: none;
		margin-left: 0;
		> li:hover a {
			color: $color-link-hover;
		}
		> li {
			cursor: pointer;
		}
		a {
			text-decoration: none;
			&:hover {
				color: $color-link-hover;
			}
		}
		ul {
			font-size: 12px;
			margin: 0.4em 0 0.4em 3em;
			display: none;
			li {
				color: $color-text;
				font-size: 12px;
				margin-bottom: 0.4em;
			}
		}
	}
}

/* disclaimer texts */
.user-agreement {
	font-size: 11px;
}


/* links */
a {
	color: $color-link;
	text-decoration: none;
	cursor: pointer;
	.no-touch &:hover, &:active {
		color: $color-link-hover;
	}
}

p {
	a {
		text-decoration: underline;
	}
}

.moredetail {
	font-size: 12px;
	display: inline-block;
	position: relative;
	top: -24px;
	margin: 0 0 14px 20px;
}

/* horizontal rule */
hr {
	color: #d9d9d9;
	&.short {
		width: 300px;
	}
	&.top-space {
		margin-top: 50px;
	}
}

/* block quote */
blockquote {
	display: block;
	width: 220px;
	position: relative;
	margin: 10px 10px 10px 20px;
	.quote {
		font-family: $font-light;
		color: $brand-blue;
		font-size: 22px;
		line-height: 1.3;
		margin-bottom: 10px;
	}
	.open {
		position: absolute;
		display: block;
		left: -18px;
		top: -8px;
		font-size: 37px;
		color: #acadb1;
		font-family: $font-condensed;
	}
	.close {
		font-size: 37px;
		color: #acadb1;
		font-family: $font-condensed;
		height: 24px;
		display: inline-block;
	}
	.from {
		font-size: 13px;
		color: #222222;
		font-family: $font-sans-serif;
		img {margin: 4px 0 0 8px;}
	}
}

/* content containers */

.site-container {
	position: relative;
	width: 940px;
	padding: 10px;
	margin: 0 auto;
}

.content-container {
	position: relative;
	width: 100%;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	-ms-backface-visibility:hidden; /* Internet Explorer */
	> .container {
		width: 940px;
		padding: 10px;
		margin: 0 auto;
		@media #{$ipad-portrait} {
			width: 748px;
			padding: 10px;
		}
		@media #{$iphone-portrait} {
			width: 300px;
			padding: 10px;
		}
		@media #{$iphone-landscape} {
			width: 460px;
		}
	}
	.shadow-strip {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 7px;
		background: transparent url(../images/shadow-strip.png) no-repeat center top;
		background-size: 100% 7px;
	}
}

.texture-paper {
	background: #fff url(../images/bg-paper-tile-pattern.jpg) repeat 0 0;
	@media #{$retina-display} {
		background-image: url(../images/bg-paper-tile-pattern-2x.jpg);
		background-size: 491px 395px;
	}
}

/* error messaging */

.error-message {
	font-size: 13px;
	margin: 0 0 20px 0;
	background: #ffdfdf;
	border-radius: 8px;
	padding: 14px;
	display: none;
}


/* controlling display of elements based on screen size */

.display-large-only {
	@media #{$iphone-landscape}, #{$iphone-portrait} {
		display: none;
	}	
}

.display-small-only {
	display: none;
	@media #{$iphone-landscape}, #{$iphone-portrait} {
		display: block;
	}
}


/* miscellaneous logos and icons */

.logo-bbb {
	display: block;
	overflow: hidden;
	width: 106px;
	height: 54px;
	background: transparent url(../images/logo-bbb.png) no-repeat 0 0;
	@media #{$retina-display} {
		background-image: url(../images/logo-bbb-2x.png);
		background-size: 106px 54px;
	}
}

.logo-norton-secured {
	display: block;
	overflow: hidden;
	width: 128px;
	height: 69px;
	background: transparent url(../images/logo-norton-secured.png) no-repeat 0 0;
	@media #{$retina-display} {
		background-image: url(../images/logo-norton-secured-2x.png);
		background-size: 128px 69px;
	}
}