/* ie 8 and below style fixes */

/* font rendering fixes - kinda horrible, not using it, but leaving code in here as a reference */
/*h1, h2, h3, h4 {
	letter-spacing: 0;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hIEfix.png,sizingMethod=crop);
	zoom: 1;
}*/

@import 'variables';

/* text input reset */
input[type=text], input[type=password] {
	height: 16px;
	padding: 2px;}

input[type=password] {
	font-family: Helvetica, Arial, sans-serif;
}

/* text input reset for 'save your work' on the sidebar in the qaire */
.email-sidebar {
	.form-group {
		input[type=text] {
			height: 16px;
			padding: 2px;
		}
	}
	.button {
		&.small {
			height: 22px;
			.button-center {
				padding: 4px 0 0 0;
			}
		}
	}
}


/* form radio and checkbox reset */

input[type=radio] {
	display: inline-block;
	margin-top: -3px;
	+ label {
		background: none;
		height: auto;
		padding: 0 0 4px 0;
		&:hover {
			background: none;
		}
	}
}

input[type=checkbox] {
	display: inline-block;
	height: auto;
	float: left;
	padding: 0;
	+ label {
		background: none;
		margin: 0 0 0 4px;;
		display: inline-block;
		width: 90%;
		padding: 0;
		&:hover {
			background: none;
		}
	}
	&.disclaimer {
		+ label {
			padding: 0;
		}
	}
}

.iconic {
	input[type=radio], input[type=checkbox] {
		display: block;
		float: left;
		margin: 2px 0 0 0;
		+ label {
			background: transparent;
			display: block;
			font-size: 13px;
			height: auto;
			width: auto;
			font-family: $font-sans-serif;
			font-style: none;
			border: none;
			text-align: left;
		}
		&:checked {
			+ label {
				box-shadow: none;
			}
		}
	}
	&.rectangular-buttons, &.square, &.standard-buttons {
		input[type=radio], input[type=checkbox] {
			height: auto;
			width: auto;
			padding: 3px 3px 0 4px;
			text-align: left;
			+ label {
				padding: 3px 0 0 4px;
				height: auto;
				width: auto;
				text-align: left;
				.text {
					margin: 0;
					.container {
						display: block;
						height: auto;
						text-align: left;
					}
					width: auto;
					position: static;
				}
			}
			&:checked {
				+ label {
					color: $color-text;
					.icon-checkmark {
						display: none;
					}
				}
			}
		}
	}

}

.icon-checkmark {
	display: none;
}

.icon-business {
	display: none;
}

.icon-owners {
	display: none;
}

/* form select box reset */

.select-field {
	display: block;
	width: 250px;
	height: auto;
	overflow: visible;
	box-shadow: none;
	background: none;
	border: none;
	float: left;
	padding: 0;
	select {
		background: #fff;
		border: 1px solid #ccc;
		width: 250px;
		-webkit-appearance: menulist;
		padding: 0;
		position: relative;
		font-family: Arial, sans-serif;
	}
	.select-arrow-container {
		display: none;
		background: none;
	}
	.select-arrow {
		display: none;
		background: none;
	}
	+ .help.icon {
		margin-top: 7px;
	}
	&.short {
		width: 140px;
		select {
			width: 140px;
		}
	}
	&.shortest {
		width: 80px;
		select {
			width: 80px;
		}
	}
	&.month {
		width: 130px;
		select {
			width: 130px;
		}
	}
	&.year {
		width: 87px;
		select {
			width: 87px;
		}
	}
	&.wide {
		width: 520px;
		select {
			width: 520px;
		}
	}
	&.state {
		width: 340px;
		select {
			width: 340px;
		}
		&.short {
			width: 80px;
			select {
				width: 80px;
			}
		}
	}
	&.credit-cards {
		width: 220px;
		select {
			width: 220px;
		}
	}
	&.micro {
		width: 40px;
		select {
			width: 40px;
		}
	}
	&.review-date {
		width: 190px;
		select {
			width: 190px;
		}
	}
	&.review-time {
		width: 110px;
		select {
			width: 110px;
		}
	}
}

.form-group {
	&.select {
		label {
			&.column {
				margin: 4px 4px 0 0;
			}
		}
	}
}

/* select field reset for ie8 questionnaire only */
.questionnaire {
	.select-field {
		width: auto;
		select {
			width: auto;
			-webkit-appearance: menulist;
			padding: 0;
			position: relative;
			font-family: Arial, sans-serif;
		}
	}
}


/* Bank of America offer in the qaire */

.offer-bofa {
	.offer-bofa-bottom {
		padding: 10px 10px 30px 10px;
		.form-group {
			padding: 10px 0 8px 0;
			.select-field.wide {
				margin-left: 23px;
				width: 460px;
				select {
					width: 460px;
				}
			}
		}
	}

}

/* comparison chart fly-out content text for IE 8 */

.flyout-content {
	p {
		font-family: Arial, sans-serif;
		font-size: 12px;
		margin-bottom: 1em;
	}
	li {
		font-family: Arial, sans-serif;
		font-size: 12px;
	}
}


/* hiding normal shadows for floating-modules and showing IE compatible shadow images */

.texture-stripes {
	.shadow-strip {
		display: none;
	}
}

.module-floating {
	.shadow {
		display: none;
	}
	&.has-shadow {
		.shadow {
			display: none;
		}
	}
}

.module-image {
	.shadow {
		display: none;
	}
}

.banner-folded {
	.banner-fold-bottom {
		display: none;
	}
}

.comparison-chart {
	.shadow {
		display: none;
	}
}

/* 5n5 specific overrides */
.business-purpose-col {
	width: 240px;
	float: left;
}


/* small changes for 5n5 top nav */
.site-nav {
	border-bottom: 1px solid $color-border-gray;
}