@import 'variables';

/* steps navigation bar */
.steps-nav {
	width: 100%;
	height: 35px;
	position: relative;
	@media #{$iphone-landscape}, #{$iphone-portrait} {
		background: #2c96dd; /* Old browsers */
		background: -moz-linear-gradient(top,  #2c96dd 0%, #1c61cb 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c96dd), color-stop(100%,#1c61cb)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #2c96dd 0%,#1c61cb 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #2c96dd 0%,#1c61cb 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #2c96dd 0%,#1c61cb 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #2c96dd 0%,#1c61cb 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c96dd', endColorstr='#1c61cb',GradientType=0 ); /* IE6-9 */
		width: 100%;
		height: 50px;
	}
	.bg-left {
		width: 30%;
		height: 100%;
		background: transparent url(../images/steps-nav-bg.png) repeat-x 0 -100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		@media #{$iphone-landscape}, #{$iphone-portrait} {
			display: none;
		}
	}
	.bg-right {
		width: 70%;
		height: 100%;
		background: #bababa;
		position: absolute;
		top: 0;
		left: 30%;
		z-index: 2;
		@media #{$iphone-landscape}, #{$iphone-portrait} {
			display: none;
		}
	}
	.current-step {
		padding: 9px 0 2px 0;
		font-size: 13px;
		color: #fff;
		text-shadow: 0 1px rgba(0,0,0,0.5);
		display: none;
		@media #{$iphone-landscape}, #{$iphone-portrait} {
			display: block;
		}
	}
	.container {
		width: 960px;
		height: 100%;
		top: 0;
		position: relative;
		z-index: 10;
		margin: 0 auto;
		text-align: center;
		@media #{$ipad-portrait} {
			width: 768px;
		}
		@media #{$iphone-landscape}, #{$iphone-portrait} {
			width: 100%;
		}
	}
	/* steps and arrows in the full size steps nav */
	.steps {
		position: relative;
		list-style: none;
		margin: 0 auto;
		display: inline-block;
		li {
			line-height: 1;
			height: 35px;
			display: block;
			float: left;
			position: relative;
			margin-left: -20px;
			@media #{$iphone-landscape}, #{$iphone-portrait} {
				margin: 0 6px 0 0;
				width: 12px;
				height: 12px;
				background: #fff;
				border-radius: 12px;
				box-shadow: 0 1px 1px rgba(0,0,0,0.7) inset;
			}
			&:first-child {
				margin: 0;
				z-index: 15;
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					margin: 0 6px 0 0;
				}
				a {
					.link {
						padding-left: 20px;
					}
				}
			}
			a {
				display: block;
				cursor: default;
			}
			/* link and arrow elements are for the full sized step nav */
			.link {
				color: #fff;
				padding: 10px 10px 0 32px;
				height: 25px;
				display: block;
				text-shadow: 0 1px rgba(0,0,0,0.5);
				float: left;
				text-align: center;
				background: #bababa;
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					display: none;
				}
			}
			.arrow {
				display: block;
				width: 18px;
				height: 35px;
				background: transparent url(../images/steps-nav-arrows.png) no-repeat 0 -200px;
				float: left;
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					display: none;
				}
			}
			/* bar-white, selected, and selected-bar elements are for the mobile nav bar */
			.bar-white {
				display: none;
				position: absolute;
				background: #fff;
				height: 7px;
				width: 10px;
				top: 3px;
				right: -8px;
				z-index: 10;
				box-shadow: 0 1px 0 rgba(0,0,0,0.3) inset;
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					display: block;
				}
			}
			.selected {
				display: none;
				width: 8px;
				height: 8px;
				border-radius: 7px;
				background: $brand-blue;
				z-index: 15;
				position: absolute;
				top: 2px;
				left: 2px;
				box-shadow: 0 1px 1px rgba(0,0,0,0.3);
				background: #2c96dd; /* Old browsers */
				background: -moz-linear-gradient(top,  #2c96dd 0%, #1c61cb 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c96dd), color-stop(100%,#1c61cb)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #2c96dd 0%,#1c61cb 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #2c96dd 0%,#1c61cb 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #2c96dd 0%,#1c61cb 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #2c96dd 0%,#1c61cb 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c96dd', endColorstr='#1c61cb',GradientType=0 ); /* IE6-9 */
			}
			.selected-bar {
				display: none;
				width: 12px;
				height: 3px;
				z-index: 20;
				position: absolute;
				top: 5px;
				right: -9px;
				box-shadow: 0 1px 1px rgba(0,0,0,0.3);
				background: #2c96dd; /* Old browsers */
				background: -moz-linear-gradient(top,  #2c96dd 0%, #1c61cb 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c96dd), color-stop(100%,#1c61cb)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #2c96dd 0%,#1c61cb 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #2c96dd 0%,#1c61cb 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #2c96dd 0%,#1c61cb 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #2c96dd 0%,#1c61cb 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c96dd', endColorstr='#1c61cb',GradientType=0 ); /* IE6-9 */
			}
			&.completed {
				.link {
					background: transparent url(../images/steps-nav-bg.png) repeat-x 0 -100px;
				}
				.arrow {
					background-position: 0 -100px;
				}
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					.selected {
						display: block;
					}
					.selected-bar {
						display: block;
					}
				}
			}
			&.active {
				.link {
					background: transparent url(../images/steps-nav-bg.png) repeat-x 0 0;
				}
				.arrow {
					background-position: 0 0;
				}
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					.selected {
						display: block;
					}
				}
			}
			&.last {
				.arrow {
					display: none;
				}
				.bar-white {
					display: none;
				}
				@media #{$iphone-landscape}, #{$iphone-portrait} {
					margin: 0;
				}
			}
			& + li {z-index: 14;}
			& + li + li {z-index: 13;}
			& + li + li + li {z-index: 12;}
			& + li + li + li + li {z-index: 11;}
			& + li + li + li + li + li {z-index: 10;}
			& + li + li + li + li + li + li {z-index: 9;}
			& + li + li + li + li + li + li + li {z-index: 8;}
			& + li + li + li + li + li + li + li + li {z-index: 7;}
			& + li + li + li + li + li + li + li + li + li {z-index: 6;}
			& + li + li + li + li + li + li + li + li + li + li {z-index: 5;}
			& + li + li + li + li + li + li + li + li + li + li + li {z-index: 4;}
			& + li + li + li + li + li + li + li + li + li + li + li + li {z-index: 3;}
			& + li + li + li + li + li + li + li + li + li + li + li + li + li {z-index: 2;}
			& + li + li + li + li + li + li + li + li + li + li + li + li + li + li {z-index: 1;}
		}
	}

	/* changes the color of the steps nav background at different steps */
	&.first {
		.bg-left {
			background-position: 0 0;
		}
	}
	&.last {
		.bg-right {
			background: transparent url(../images/steps-nav-bg.png) repeat-x 0 0;
		}
	}
}

