/* fpo content */

.fpo-content-top {
	display: block;
	position: absolute;
	top: 20px;
	width: 960px;
	height: 400px;
	background: transparent url('../images/fpo/content-top.png') no-repeat 0 0;
}

.fpo-content-a {
	display: block;
	position: relative;
	top: 12px;
	width: 960px;
	height: 400px;
	background: transparent url('../images/fpo/content-a.png') no-repeat 0 0;
}

.fpo-content-b {
	display: block;
	position: relative;
	top: 12px;
	width: 960px;
	height: 400px;
	background: transparent url('../images/fpo/content-b.png') no-repeat 0 0;
}