/* background colors */

$color-html-bg: #fff;
$color-body-bg: #fff;

/* text color */

$color-text: #424242;
$color-text-h1: #2e2e2e;
$color-text-h2: #2e2e2e;
$color-text-h2-dark: #363636;

/* link text color */

$color-link: #352b78;
$color-link-hover: #5342bf;

/* border colors */

$color-border-gray: #ccc;

/* fonts */

$font-sans-serif: Arial, sans-serif;
$font-serif: "Times New Roman", Times, serif;
$font-bold: Arial, sans-serif;
$font-nav: Tahoma, Arial, sans-serif;

/* responsive screen sizes */

$iphone-portrait: "only screen and (max-width: 330px)";
$iphone4-landscape: "only screen and (min-width: 331px) and (max-width: 500px)";
$iphone5-landscape: "only screen and (min-width: 501px) and (max-width: 760px)";
$ipad-portrait: "only screen and (min-width: 761px) and (max-width: 955px)";