doctype html
html
	head
		meta http-equiv='Content-Type' content='text/html; charset=utf-8'
		meta http-equiv='X-UA-Compatible' content='IE=Edge'
		meta http-equiv='X-UA-compatible' content='chrome=1'
		meta name='viewport' content='width=device-width; initial-scale=1; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;'
		title LegalZoom Quick Start LLC
		link rel='icon' href='images/favicon.ico' type='image/x-icon'
		link rel='stylesheet' type='text/css' media='all' href='css/core.css'

		/[if lte IE 8]
			link rel='stylesheet' type='text/css' media='all' href='css/ie8.css'
		/[if lte IE 9]
			link rel='stylesheet' type='text/css' media='all' href='css/ie9.css'

		script type='text/javascript' src='js/jquery-1.10.1.min.js'
		script type='text/javascript' src='js/modernizr-2.6.2.js'
		script type='text/javascript' src='js/appGlobal.js'
		script type='text/javascript' src='js/swipe.js'

		script type='text/javascript' src='js/jquery.scrollTo.min.js'
		script type='text/javascript' src='js/jquery.localScroll.min.js'
		script type='text/javascript' src='js/overview.js'

	body

		nav.site-nav.qaire
			.container
				.lz-logo.white
				.header
					h1 Start your LLC
			.bg
			.shadow

		.content-container.qaire
			.container
				.qaire-content
					.qdiv
						.heading
							h1 What is the name of your business?
					
						.form-group
							input type='text'
						.qaire-nav
							a.button test
		.clear

		.content-container.site-footer
			.container
				.disclaimer
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet placerat sagittis. Proin porta dui in erat tincidunt nec placerat libero elementum. Donec semper, turpis ultrices interdum mattis, ante augue
				.logo-bbb
				
				.help-phone-number
					p
						| (888)555-5555
					.hours
						| Weekday 8:00am - 6:00pm PST
				
		.clear

